[2015-09-19 19:05] wyc opened #2 "[ros-gentoo] Ebuild failures occuring in global scope"
Please see:

https://bugs.gentoo.org/show_bug.cgi?id=557764

[2015-09-19 19:47] allenh1 commented on #2
I'm not so sure this is still problematic... How do I verify whether or not things are working on their end? I have everything working completely on my end, including an install of desktop_full. Not sure why things are not working for them...

[2015-09-19 20:05] wyc commented on #2
It's problematic because if we don't fix it, then the repo may be pulled from the layman list.

[2015-09-19 20:22] allenh1 commented on #2
Ok. I'll look into it further, then.

[2015-09-19 20:31] allenh1 commented on #2
In the file pasted, it complains about the syntax used in sdformat's ebuild. I have updated that ebuild to a later version  with the following commit. 2cde3bbd57d03b38740f8008286e0ac8b498d08b

[2015-09-19 20:38] allenh1 commented on #2
I have fixed (I think) the metadata.xml file as well. 50029722050935fefd07b633eb0051ba365f3cdf

[2015-09-20 00:14] wyc commented on #2
great work. thanks for the responsiveness on this!

[2015-09-20 01:55] allenh1 commented on #2
Absolutely.

[2015-09-20 14:13] allenh1 commented on #2
It appears to be working as of now.

https://qa-reports.gentoo.org/output/repos/ros-gentoo.html

I'm closing the issue here, but will reopen if it is not fixed.

[2015-09-20 14:13] #2 closed

[2015-09-28 16:57] Alessandro-Barbieri opened #7 "Error in ros installation readme"
This command
 `$ cd ~/catkin_ws && wstool init -j8 src jade-desktop_full-wet.rosinstall`
does not work "out-of-the-box" because you are now in `~/catkin_ws` but `jade-desktop_full-wet.rosinstall` is in `~`

[2015-09-28 17:03] #7 closed

[2015-10-05 18:17] allenh1 opened #8 "Bloom EBuild error: Package installs 'test' package"
For the output of the info flag:

[code]

For `emerge -pqv '=dev-python/bloom-0.5.20::ros-overlay'` we get

[code]

[2016-02-02 16:27] Alessandro-Barbieri opened #9 "Can't install dev-python/wstool-0.1.10"
The emerge stops at line "error: can't copy 'build/sphinx/man/wstool.1': doesn't exist or not a regular file"

emerge -pqv '=dev-python/wstool-0.1.10::ros-overlay'
[ebuild   R   ] dev-python/wstool-0.1.10  PYTHON_TARGETS="python2_7 -python3_3"

The other needed info are here:
https://gist.github.com/Alessandro-Barbieri/756f9a85655198448ec2

[2016-02-15 18:00] Alessandro-Barbieri opened #10 "can't install sci-electronics/gazebo-2.2.1"
I get:

[code]

[2016-02-15 18:28] wyc commented on #10
@Alessandro-Barbieri  This should help portage find the correct directory

[2016-02-15 22:57] allenh1 commented on #10
Have you seen the Gazebo-6 build? The 2.2.1 ebuild is really only there for legacy reasons... But, if you insist on that one, I can fix that ebuild.

[2016-02-15 23:29] wyc commented on #10
@allenh1 please see this PR: https://github.com/ros/ros-overlay/pulls

[2016-02-18 20:57] wyc commented on #10
@Alessandro-Barbieri Please try again with the merged changes.

[2016-03-10 00:19] Alessandro-Barbieri commented on #10
[code]

[2016-03-10 00:45] Alessandro-Barbieri opened #12 "dependency for sci-electronics/gazebo-6.1.0-r1"
It wants an higher version of sdformat

[code]

but I have the `dev-libs/sdformat-4.0.0:0/4` installed ...

[2017-03-01 00:11] allenh1 opened #13 "Ebuilds using deprecated distutils.eclass"
From [Gentoo Bugzilla](https://bugs.gentoo.org/show_bug.cgi?id=609914):

[2017-03-11 10:29] AuthenticEshkinKot opened #14 "emerge dev-python/rosdep"
I've tried to install dev-python/rosdep on my Gentoo, but emerge failed with message:
http://pastebin.com/cRt3BryZ

Briefly, portage expects size of 107 KiB, but gets 73,82K

'emerge --sync' and 'layman -S' were executed exactly before 'emerge dev-python/rosdep'

[2017-04-16 00:06] Alessandro-Barbieri opened #16 "sci-physics/simbody-3.5.3 missing file"
At the end of  the install phase I get

[code]

checking

[code]

[2017-04-16 00:56] Alessandro-Barbieri opened #18 "sci-electronics/gazebo-7.1.0 cmake errors"
with ignition-math-3.1.0 and sdformat-5.1.0 configure phase fails with

[code]

and

[code]

[code]

[2017-04-18 17:18] Alessandro-Barbieri commented on #10
https://github.com/ros/ros-overlay/pull/17 render this invalid

[2017-04-18 17:18] #10 closed

[2017-04-26 23:53] #13 closed

[2017-04-27 11:25] Alessandro-Barbieri commented on #14
Try now

[2017-04-27 12:52] allenh1 commented on #8
Back at this one again. I think it's almost done.

[2017-04-27 13:22] #8 closed

[2017-04-27 19:48] AuthenticEshkinKot commented on #14
@Alessandro-Barbieri
Same:
https://pastebin.com/5PuHq1qG

[2017-05-02 16:18] allenh1 commented on #14
Hm... That's... interesting. I am trying a fresh install on one of my computers rn. What architecture/python version do you have?

[2017-05-03 20:11] AuthenticEshkinKot commented on #14
@allenh1
I've got ~amd64 arch with python2.7 and python3.4

[2017-05-04 01:35] allenh1 commented on #14
Hm... Ya, that's rather odd. I'm definitely at a loss here... Did you try removing the overlay and adding it again? That's the best I can offer until someone else runs into this...

[2017-05-04 02:47] Alessandro-Barbieri opened #25 "dev-python/distribute-0.7.3 fails to install with python_targets_python3_5"
Build log here https://gist.github.com/Alessandro-Barbieri/1ee6321eb4489d16f58be62d0ba47c03

[2017-05-10 21:04] Alessandro-Barbieri opened #26 "rename categories"
For coherence with downstream, the categories of  `dev-python/rosinstall_generator` and `dev-python/rosinstall` should be moved to `dev-util`

[2017-05-10 21:05] Alessandro-Barbieri commented on #18
well, downstream version `8.1.0` build, so I don't need this more

[2017-05-10 21:05] Alessandro-Barbieri commented on #12
well, downstream version 8.1.0 build, so I don't need this more

[2017-05-10 21:07] allenh1 commented on #26
I don't entirely agree with this. I want to make it clear which package is being installed -- the `dev-util` version is under Gentoo's maintenance. Packages from this repository should be very easily differentiated from those maintained by Gentoo's.

[2017-05-10 21:07] Alessandro-Barbieri commented on #14
Maybe is a mirror's issue? Try changing mirror and removing the package archive from `/usr/portage/distfiles/`

[2017-05-10 21:08] allenh1 commented on #18
Version 7 is still needed for support with Kinetic.

[2017-05-10 21:09] Alessandro-Barbieri commented on #26
You can add he maintainer metadata

[2017-05-10 21:11] allenh1 commented on #26
But why do we need to conform to what the downstream people do?

[2017-05-10 21:13] Alessandro-Barbieri commented on #26
Don't know, but I had installation errors and maybe the fault is the outdated rosinstall_generator

[2017-05-24 23:52] allenh1 commented on #26
Could you be more specific as to what your installation errors were? I was able to install lunar the other day just fine.

[2017-05-24 23:54] allenh1 commented on #25
The log looks like you were building with python 3.4... Did you unmask python 3.5?

[2017-05-24 23:55] allenh1 commented on #16
Fixed by 1d08a160953fa11a6f4da84d5a4dce231040600a

[2017-05-24 23:55] #16 closed

[2017-05-24 23:59] Alessandro-Barbieri commented on #25
Yes I unmasked it.
With python 3.5 enabled won't build, I had to mask it for this package

[2017-05-25 00:02] allenh1 commented on #9
Current version of wstool is 0.1.13.

[2017-05-25 00:59] Alessandro-Barbieri commented on #25
Retried now and won't install with python3.4 (same error), can't test with python3.5 because wstool doesn't have it (required as a dependency).

[2017-05-25 01:10] allenh1 commented on #25
I just check my wstool ebuilds, and it compiled just fine... I'm using Python 3.5. let me try and emerge distribute.

[2017-05-25 01:12] allenh1 commented on #25
Yup. Distribute emerges just fine on my system. I'd say you have some Python issues.

[2017-05-25 01:13] allenh1 commented on #25
Closing this for now.

[2017-05-25 01:13] #9 closed

[2017-05-25 01:15] allenh1 commented on #26
Regardless, this issue does not to be open anymore. Closing as we have gone off topic, and I don't want to rename the categories (there will be new categories in a few days, by the way. For the rest of the rosdistro packages).

[2017-05-25 01:15] #26 closed

[2017-05-25 01:16] allenh1 commented on #14
@AuthenticEshkinKot I'm gonna close this... This doesn't seem to be a ros-overlay issue.

[2017-05-25 01:16] #14 closed

[2017-05-25 01:16] #12 closed

[2017-05-25 01:17] allenh1 commented on #18
Update: version 7 is also necessary for use with lunar. But, that said, I think the ebuild is working now if you want to verify.

[2017-05-25 02:58] Alessandro-Barbieri commented on #25
wstool does not have python3.5 support

look here

https://github.com/ros/ros-overlay/blob/master/dev-python/wstool/wstool-0.1.10.ebuild#L2
https://github.com/ros/ros-overlay/blob/master/dev-python/wstool/wstool-0.1.13.ebuild#L2
https://github.com/ros/ros-overlay/blob/master/dev-python/wstool/wstool-0.1.6.ebuild#L2

[2017-05-25 16:16] allenh1 commented on #25
That's all well and good, but I think this is a non-issue for the general case.

[2017-05-25 19:23] Alessandro-Barbieri commented on #25
It's an issue because distribute wants wstool with the same pythons as itself. If you marked distribute working with x y and z you need to have wstool working with x y and z too. You have Python3.5 enable but I bet your distribute is built only with 2.7 because it's the only supported by it's dependency wstool.

[2017-05-25 20:08] allenh1 commented on #25
That's a fair point. I'll fix this in a few.

[2017-05-25 20:15] allenh1 commented on #25
By the way, @Alessandro-Barbieri there will be a bunch of new ebuilds later for arbitrary packages.

The goal is to make it such that

[code]

will work. I've been doing that for the past few days, and it will definitely need some testing.

[2017-05-25 20:38] Alessandro-Barbieri commented on #25
I'll test it.
Why don't just nuke wstool and use downstream version? They have 0.1.13 (same as latest here) why the right pythons etc.

[2017-05-25 20:44] allenh1 commented on #25
On May 25, 2017 1:39 PM, Alessandro Barbieri <notifications@github.com> wrote:

I'll test it.
Why don't just nuke wstool and use downstream version? They have 0.1.13 (same as latest here) why the right pythons etc.

That's a fair point. I think that would be wise.

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com

[2017-05-25 20:57] allenh1 opened #27 "New Installation Method"
Ok, so the new install method is almost done.

[code]

This is only happening because `ros-kinetic/python-argparse` should just be `python-argparse`.

I'm going to add this to my script, checking for whether or not the dependency is in fact a ros dependency.

[2017-05-25 20:58] allenh1 commented on #27
Development is happening on the branch marked "experimental", for those who are curios.

[2017-05-25 23:08] Alessandro-Barbieri commented on #27
What is the difference between this and downstream ros?
They have 150+ ros packages.

[2017-05-25 23:12] Alessandro-Barbieri opened #28 "webkit_dependency: No definition of [python-qt-bindings-webkit] for OS [gentoo]"
rosdep gives me:

webkit_dependency: No definition of [python-qt-bindings-webkit] for OS [gentoo]

same as http://answers.ros.org/question/262190/webkit_dependency-no-definition-of-python-qt5-bindings-webkit-for-os-osx/

[2017-05-25 23:12] allenh1 commented on #27
This is the official OSRF repo, and will be generated at a fixed interval on the ros build farm.

[2017-05-25 23:19] Alessandro-Barbieri commented on #25
Is distribute *really* needed?

[2017-05-25 23:51] allenh1 commented on #28
Please file a ticket in the rosdep repo.

[2017-05-26 05:01] allenh1 commented on #28
@Alessandro-Barbieri Closing, as it is going to be resolved upstream.

[2017-05-26 05:02] allenh1 commented on #27
Ok, I can now do

[code]

as of e9e3f021fc4493460bfbce84f066ee52e1b07578.

[2017-05-26 05:03] #27 closed

[2017-05-26 05:04] #28 closed

[2017-05-26 05:05] allenh1 commented on #25
I don't think it is needed. Try the new install method! Should work!

[2017-05-26 05:05] #25 closed

[2017-05-26 13:36] Alessandro-Barbieri opened #30 "manifests"
Please regenerate the manifests.
I strongly suggest to commit via `repoman`.

[2017-05-26 16:04] allenh1 commented on #30
Why do I need to regenerate the manifests? I regenerate every time I add them...

[2017-05-26 16:11] Alessandro-Barbieri commented on #30
Because some manifests are missing.

[2017-05-26 16:12] allenh1 commented on #30
Which packages are missing manifests?

[2017-05-26 16:13] Alessandro-Barbieri commented on #30
homer*

[2017-05-26 17:32] allenh1 commented on #30
Ok, so, after investigation... I was unable to retrieve the file from their server. They are running a GitLab instance, which gave me a 401 (authentication failure) when I ask for the file.

@mikaelarguedas FYI

[2017-05-27 14:59] Alessandro-Barbieri commented on #27
Have you considered using https://github.com/jauhien/g-sorcery?

[2017-05-27 15:20] Alessandro-Barbieri opened #31 "broken ebuilds"
Please fix this

[code]

[2017-05-27 20:06] allenh1 commented on #31
So the ebuilds will emerge, but there is still an issue: the backtick '`' is somehow trying to run a subshell in the description of the ebuilds. I am going to fix the description field parsing in the near future.

They are also over 80 columns in length.

[2017-05-29 01:32] allenh1 commented on #31
Fixed 60710da.

[2017-05-29 01:32] #31 closed

[2017-05-31 15:27] Alessandro-Barbieri commented on #30
kinetic still have this issue

[2017-05-31 15:46] allenh1 commented on #30
This is actually the result of rosdep not knowing how to properly fetch tar files from GitLab. That's one of the things on my to-do list.

[2017-06-01 10:15] Alessandro-Barbieri opened #34 "ebuilds QA"
Don't `wget` in `src_unpack`

[2017-06-01 14:00] allenh1 commented on #34
I would prefer not to as well. It's a rather hacjy fix for a thing I have not yet figured out how to do with portage.

[2017-06-01 14:02] Alessandro-Barbieri commented on #34
Is portage downloading the correct files?

[2017-06-01 14:04] allenh1 commented on #34
No, no it is not. I think I know how to fix this, and will try when I get into the office this morning.

[2017-06-01 14:07] allenh1 commented on #34
Let me rephrase: it downloads the right source sometimes. It gets confused by the version numbers...

If your package is version 0.6.3, and another package is if that version, then portage caches the first one. Then, when emerging the second, you re-emerge the first (since it used the cached version).

[2017-06-01 14:08] Alessandro-Barbieri commented on #34
Use the "->" operator to rename what you download

[2017-06-01 14:28] allenh1 commented on #34
Got it. I'll fix that as soon as I get in.

[2017-06-01 17:11] #34 closed

[2017-06-02 05:38] allenh1 opened #44 "Unknown Error During installation"
`ros-lunar/std_msgs` failed to emerge on my brother's Gentoo instance.

Build Log:
--------------
[code]

`emerge --info`:
-----------------------
[code]

`emerge -pqv`:
----------------------
[code]

`environment`:
---------------------
[code]

[2017-06-02 16:59] Alessandro-Barbieri commented on #44
Finally someone other had this issue
see my reports:

https://bugs.gentoo.org/show_bug.cgi?id=619440

[2017-06-02 17:10] allenh1 commented on #44
But what's odd about it is that you can see `CATKIN_PREFIX_PATH` in the output of the build! Maybe this is a catkin problem? I'll ask around...

[2017-06-02 17:14] Alessandro-Barbieri commented on #44
Can't find, did you mean `CMAKE_PREFIX_PATH`?

[2017-06-02 17:17] Alessandro-Barbieri commented on #44
Maybe you want to look here
https://github.com/gentoo/gentoo/blob/master/eclass/ros-catkin.eclass
and here
https://devmanual.gentoo.org/eclass-reference/ros-catkin.eclass/index.html

[2017-06-02 17:38] allenh1 commented on #44
I am working on the ebuilds right now. I just did a full regen of them, and they are manifesting atm. Currently re-installing ros-kinetic from scratch. I'll let you know what happens. I was unable to build this package last time (for kinetic).

[2017-06-02 17:53] allenh1 commented on #44
Ok! I fixed it!

Please wait a few minutes before attempting to emerge the package. I'll comment and close this issue when ready.

[2017-06-02 17:54] #44 closed

[2017-06-02 19:15] allenh1 commented on #44
@Alessandro-Barbieri Almost ready... Sorry, I had to add a few flags to my script for my sanity. It's regenerating just kinetic. If that ebuild works as it did when I manually packaged it, I'll tell the bot to regen lunar and indigo. In the meantime, I'm going to work on #30.

[2017-06-02 19:39] allenh1 commented on #44
@Alessandro-Barbieri Currently bashing my head on my desk because I forgot to add a few newlines... Let me try and generate the kinetic ebuilds... again...

[2017-06-02 20:30] allenh1 commented on #44
@Alessandro-Barbieri Could you give it a go? Recent update should be good.

[2017-06-02 21:28] Alessandro-Barbieri commented on #44
Can't emerge
[code]

[2017-06-02 22:57] allenh1 commented on #44
@Alessandro-Barbieri did you sync the repo? That ebuild in particular definitely has a SLOT.

[2017-06-03 00:04] Alessandro-Barbieri commented on #44
Other issues now:

1. rename all the `BDS-3` licenses to `BSD`  and `Apache 2.0` to `Apache-2.0`
2. `catkin` is in 3 categories: `ros-lunar` `ros-kinetic` and `dev-python` and two of them are pulled in simultaneously ...

[2017-06-03 02:46] dkallen77 opened #51 "catkin_make_isolated failure"
Portage 2.3.5 (python 3.5.3-final-0, default/linux/amd64/13.0/desktop/gnome/systemd, gcc-5.4.0, glibc-2.23-r3, 4.9.16-gentoo x86_64)
=================================================================
                         System Settings
=================================================================
System uname: Linux-4.9.16-gentoo-x86_64-AMD_A10-6800K_APU_with_Radeon-tm-_HD_Graphics-with-ge

[2017-06-03 04:20] allenh1 commented on #51
So you couldn't emerge `ros-lunar/std_msgs`, right? Could you please add the build log?

[2017-06-03 16:26] Alessandro-Barbieri opened #52 "licenses fix"
You have to normalize all the strange licenses strings from upstream and use ` ` as separator not `,`

[2017-06-03 18:16] allenh1 commented on #52
Could you please clarify what you mean by "Normalize"? I currently just pull the license listed by the ROS package maintainers (the one(s) found in the `package.xml` file).

But, honestly, my first priority is making sure that `desktop_full` emerges successfully. Have you been able to do this yet?

[2017-06-03 18:31] Alessandro-Barbieri commented on #52
For example:
`LICENSE="Apache License 2.0"` -> `LICENSE="Apache-2.0"`
`LICENSE="Apache"` -> find the exact version
`LICENSE="Apache 2.0"` -> `LICENSE="Apache-2.0"`
`LICENSE="Apache License, Version 2.0 (http://www.apache.org/licenses/LICENSE-2.0)"` -> `LICENSE="Apache-2.0"`
`LICENSE="BSD,LGPL,Apache 2.0` -> `LICENSE="BSD LGPL-<version> Apache-2.0`

No because I have to accept all the shitty string

[2017-06-03 18:49] allenh1 commented on #52
Do you mean you personally, or is this a thing you have to configure in portage? Because I've not seen portage complain about it yet.

I don't mean to say this is not important, as it definitely is. I just want to make sure the ebuilds work before I work on perfecting the small details. By the end of this, I really want these ebulds to be super solid, and I really do appreciate all the feedback yo

[2017-06-03 18:54] allenh1 commented on #44
This was filed on behalf of @dkallen77

[2017-06-03 19:05] Alessandro-Barbieri commented on #44
The slotting problem I think is gone, while the double catkin dependency is still here

[2017-06-03 19:07] allenh1 commented on #44
Slotting is gone, but the double catkin dependency is a separate issue. I've been thinking about how to fix that one, and I'm experimenting with it in the near future.

[2017-06-03 19:08] Alessandro-Barbieri commented on #44
Depends on what your `ACCEPT_LICENSE` contains.
Mine is `ACCEPT_LICENSE="-* @FREE VOSTROM"` while default I think is ACCEPT_LICENSE="* -@EULA"

[2017-06-03 19:09] Alessandro-Barbieri commented on #52
Depends on what your `ACCEPT_LICENSE` contains.
Mine is `ACCEPT_LICENSE="-* @FREE VOSTROM"` while default I think is ACCEPT_LICENSE="* -@EULA"

I'll temporary change my `ACCEPT_LICENSE` and try

[2017-06-03 19:10] allenh1 commented on #52
Thank you very much!

[2017-06-03 19:43] Alessandro-Barbieri commented on #52
I'm having dependency failures

[2017-06-03 19:52] allenh1 commented on #52
Could you file an issue with the relevant part of the emerge output for me please?

[2017-06-03 19:58] Alessandro-Barbieri commented on #52
Them are not from this overlay nor ros-related

[2017-06-03 20:54] allenh1 commented on #52
Ok, cool.

[2017-06-07 06:40] archenroot opened #71 "[question] diff/relation with Gentoo tree"
Hi guys, thanks for this work.

What is the difference and/or relationship between this overlay and standard Gentoo tree packages?

It is not clear to me as some of ebuilds are in different groups (dev-python vs dev-utils, etc.)...

I am not sure which one is better (I understand depends on expectations) to use?

[2017-06-07 07:02] allenh1 commented on #71
@archenroot thank you for the question.

The difference is that this overlay is maintained by the Open Source Robotics Foundation, and will, after I have worked out all the little bugs, be synched on a nightly/weekly (have not decided this yet) basis on the ROS buildfarm.

For a LONG time we have had our packages under the `dev-python` category, and I just don't see a huge reason to change them. T

[2017-06-07 07:43] archenroot commented on #71
Thanks for detailed answer.

**So you don't cooperated with Gentoo ROS Project team?**

For example in gentoo tree we have:
[code]

I just wonder why not synchronize the work with Gentoo ROS project team: https://wiki.gentoo.org/wiki/Project:ROS

If we talk about simple packages, then I don't care to go the way which every one would like to go, but Gentoo created a specific project for this to han

[2017-06-07 20:45] allenh1 commented on #71
We're not synched with the Gentoo people for a number of reasons, but the most trivial reason is the difference in our priorities. The most important difference, to me, is the versioning.

For example, the Gentoo repo has two Gazebo ebuilds: 8.0.0 and 8.1.0. While up to date, these are not yet supported in ROS. The latest release (which was released less than a month ago) is Lunar, which requires

[2017-06-08 04:41] archenroot commented on #71
@allenh1  Regarding QA I take it back, not relevant and I didn't use REPOMAN, and is anyway not my primary intention here to discuss QA - I just checked 9999 vs regular packages detection and EAPI version, not important in the moment :-)

To me you did great stuff and I like better the idea of having multiple isolated ROS installation at the same time. I am also usually going crazy (in positive me

[2017-06-08 04:47] allenh1 commented on #71
lunar
kinetic
etc..

That's a really, really good idea. I'll definitely look into it!

Alright, excellent! I'll keep working in the meantime!

Of course!

Also, if you get a few, it would be super awesome if you could try and emerge `ros-lunar/desktop_full` from this repo. I'm super close on my system, but I think it's only due to my processor flags.

[2017-06-08 04:49] archenroot commented on #71
Good stuff!

I will try to emerge the package today.

[2017-06-08 04:51] allenh1 commented on #71
Thank you very much! Should one fail, please file an issue. In the meantime, is it alright if we close this one?

[2017-06-08 07:03] archenroot commented on #71
running on GCC 5.4.0....

[2017-06-08 07:07] allenh1 commented on #51
@dkallen77 `catkin_make_isolated` has been completely removed from the build system now. Could you re-emerge things?

[code]

Should clean it up before you try again (absolutely remove all trace of everything, as it is not even a little bit the same).

[2017-06-08 07:43] archenroot opened #78 "ros-lunar/cmake_modules-0.4.1::ros-overlay - Unable to find either executable 'empy' or Python module 'em'"
dev-python/empy is not pulled automatically in - missing dependency config in ebuild..
**Detail:**
[code]
I installed empy:
[code]
Error persists even with installed empy...

[2017-06-08 07:48] archenroot commented on #78
I am on following python:
ares ~ # python
Python 3.4.5 (default, Jun  5 2017, 12:15:32)
[GCC 6.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

[2017-06-08 08:08] archenroot commented on #78
I have actually multiple catkins, so that could be a problem... and CATKING is from GENTOO tree
[code]
I will try to re-emerge....

this time it pulled **dev-python/catkin_pkg-0.3.4::**ros-overlay****

But:
[code]

I am not sure if there is some mess between ROS overlay and portage tree, I will try to examine.

[2017-06-08 09:23] archenroot commented on #78
Your package catkin_pkg is installed in wrong way, whereas Gentoo tree is installed fine:

This is Gentoo one:
ares catkin_pkg # pip list |grep catkin
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
catkin-pkg (0.3.4)

Your package doe

[2017-06-08 11:08] archenroot commented on #71
I am putting here copy of email with Alexis - maintainer of ROS project at Gentoo - one man show in the moment looks like :-)

 There'd be some changes to do for this to be properly

**So that looks quite positive feedback!**.

That was also my idea, that this overlay could become staging area for bleeding edge packages access and QA for Gentoo tree.

I generally agree on all points you suggested

[2017-06-08 13:52] allenh1 commented on #78
I forgot to update the install instructions... Please don't emerge any overlay package that doesn't start with `ros-lunar`. Try removing the `dev-util` and the `dev-python` versions of catkin, as you won't need them.

As for the issue with `empy`, it seems that the `empy` doesn't copy the executable to the `/use/bin` directory. Any way to fix that? I think I just symlinked it in by hand and then f

[2017-06-08 13:53] allenh1 commented on #78
Python 3.4 is also gonna be a problem... Let me fix the ebuild generator (currently hard codes in Python 3.5).

[2017-06-08 14:18] archenroot commented on #78
Ok, I understand
empy - why not take ebuild from Gentoo?
Python - I can build with any version you ask me for.

Ladislav

2017-06-08 15:53 GMT+02:00 Hunter Allen <notifications@github.com>:

[2017-06-08 15:16] allenh1 commented on #78
So the gentoo empy ebuild appears to be the issue: it doesn't put the script in /usr/bin. I'll be more specific about this when I get to the office today, but I'd be interested to see what `equery files empy` outputs for you.

[2017-06-08 15:21] archenroot commented on #78
Yes, no bin:
[code]

[2017-06-08 15:30] archenroot commented on #78
Ok, you are right, there is missing em.py script is missing...

[2017-06-08 17:11] allenh1 commented on #71
@aballier Thank you very much! I'll work on cleaning up the generated ebuilds in the meantime.

You can track that progress on allenh1/ebuild-generator (which, in hindsight, I should probably have name "ros-ebulid-generator"). If you have any specific issues/PR's for simple fixes with the way I am generating the ebuilds, it would be extremely helpful for me if you could file them there.

[2017-06-08 17:14] allenh1 commented on #78
Here's the output on Ubuntu:

[code]

Is there a use flag needed to make the bin?

In the meantime, I fixed it by doing this:
[code]

[2017-06-09 11:26] archenroot commented on #78
I am also curious, how this should be handled in proper way, I did yesterday some quick search, but still not 100% clear to me..

[2017-06-09 13:04] archenroot commented on #78
I raised bug: https://bugs.gentoo.org/show_bug.cgi?id=621288

[2017-06-09 14:25] Alessandro-Barbieri commented on #30
`* Manifest not found for '/var/lib/layman/ros-overlay/ros-indigo/screenrun/screenrun-1.0
.2.ebuild'`

[2017-06-09 14:33] Alessandro-Barbieri commented on #71
@archenroot @allenh1 @aballier AWESOME!

[2017-06-09 14:45] Alessandro-Barbieri commented on #71
For long I was thinking for a solution to the overly increasing number of ebuilds (some of them duplicates across categories) and my first thought was to merge all the categories into one and use slots to accomodate ROS releases.
Can be a working solutions or it's too complicated?
What about packages that uses the same version across multiple releases and need to be installed in multiple slots?

@

[2017-06-09 14:50] aballier commented on #71
Can be a working solutions or it's too complicated?
What about packages that uses the same version across multiple releases and need to be installed in multiple slots?

This is part of my initial reply :)

Feel free to file github PR to the gentoo tree and mention me there. That'd be too optimistic for me to maintain them all, but proxy maintaining is definitely a way to get this done.

As for gaz

[2017-06-09 15:16] Alessandro-Barbieri commented on #71
Crazy idea: use https://github.com/jauhien/g-sorcery

[2017-06-09 16:09] allenh1 commented on #78
@achenroot thank you very much! It is definitely not very proper to symlink it... I just didn't want to wait for a fix if it wasn't broken type deal. But I definitely consider it a bug.

[2017-06-09 16:15] allenh1 commented on #71
@Alessandro-Barbieri that system has deprecated features like 'herd' in it, if you look closely (last updated 2 years ago as well).

 I wrote a significant amount of code to get mine to work, and it definitely works for all my purposes (including automatically filling PR's when generation finishes).

[2017-06-09 16:17] allenh1 commented on #30
Thanks, I'll fix this soon

[2017-06-09 17:12] Alessandro-Barbieri commented on #71
I see, but that is the default schema, you can provide your xml schema

As far as I have read, gsorcery relies on user written code in order to generate ebuilds, eclasses and metadata.

[2017-06-09 17:24] allenh1 commented on #71
That's fine, but I don't see anything it does that mine doesn't. It's just a different API.

[2017-06-09 19:01] allenh1 commented on #78
For convenience, this was the first reply from the Gentoo people:

I think we should just write an ebuild to install it then. Would you like to do the honors, @archenroot ?

[2017-06-09 20:28] archenroot commented on #78
I just red it, I have no problem with creating override, but I would like
to hear from DEVs, what is than the expected usage...? It is confusing.

2017-06-09 21:01 GMT+02:00 Hunter Allen <notifications@github.com>:

[2017-06-09 23:40] Alessandro-Barbieri commented on #71
We need someone familiar with this kind of eclasses, after a look at the python eclasses I got lost ...

[2017-06-10 01:06] allenh1 commented on #78
Well, that's not exactly the response I was hoping for. But they are right, the upstream doesn't install it.

This is from `setup.py` from the current release.
[code]

Maybe this should be considered more of a cmake problem? Or maybe the catkin cmake looks for the `/usr/bin/empy` instead of the python module?

[2017-06-10 01:35] Alessandro-Barbieri opened #83 "move some RDEPEND to DEPEND"
easy task: move to `DEPEND` these dependencies

[code]

[2017-06-10 02:29] allenh1 commented on #83
@Alessandro-Barbieri Will do! In the future, please file these as issues on allenh1/ebuild-generator.

It's much easier for me to keep track of that way.

[2017-06-10 13:03] Alessandro-Barbieri commented on #78
Searches in the wrong folder

[2017-06-10 13:33] archenroot commented on #83
@allenh1 I think @Alessandro-Barbieri already mentioned it somewhere and it is just another idea to consider -> taking your ebuild generator and integrate it into https://github.com/jauhien/g-sorcery. What do you think?

[2017-06-10 18:59] allenh1 commented on #83
@archenroot I have look through it, and it doesn't seem to be quite what I would need. Mine already supports the features it has currently (less the eclass, but that shouldn't need to be a feature of an ebuild generator).

The other issue is the fact that g-sorcery seems to lack things like patching, multiple keywords, and even things like licenses, build depends, and more that mine already suppor

[2017-06-11 02:12] Alessandro-Barbieri opened #84 "command not found"
`/home/travis/build/ros/ros-overlay/travis-overlay/ros-indigo/network_control_tests/network_control_tests-1.0.11.ebuild: line 6: Test: command not found`

[2017-06-11 11:15] archenroot commented on #71
@Alessandro-Barbieri :D me too :D

@aballier - Are you willing/capable of introducing the eclass which might support what we discussed here? We have theoretical concept now, but to be honest I am also not capable in define the eclass (as I never did), I am of course reading gentoo wiki and looking into ros-catking.eclass you created:

I think the main task is here from my perspective the eclass ex

[2017-06-11 11:39] archenroot opened #86 "emerge =ros-kinetic/desktop_full conflicts with main tree"
I just today tried and got into this situation:
[code]

[2017-06-11 11:45] aballier commented on #71
Yes I can but I definitely need help here.

kinect - python2_7,python3_4
lunar - python3_4,python3_5, etc...

Yes that's what I was thinking about: For each ROS release, define one python version to be used. Don't even worry about multi-python for now. While multi-python is useful, esp. for testing, I don't think it brings any benefit to ROS and it doesn't work well with ROS anyway (rospack for ex

[2017-06-11 12:30] archenroot commented on #86
Maybe there is some kind of mess because I last week emerged Gentoo tree ros packages. I am removing whole dev-ros installation by:
`eix --nocolor -c -I -C dev-ros | cut -d " " -f 2 | grep --color=never dev-ros | xargs emerge --unmerge`

And viola found 156 installed packages.

I also created overlay level record in /etc/portage/package.mask/ros
[code]

I also now prioritized ros-overlay over gent

[2017-06-11 13:04] archenroot commented on #86
[code]
So while catkin_pkg from ros-overlay installed, when trying to install rosdistro from overlay as well. rosdistro is not able to pickup already installed overlay package, but instead enforcing to pull version from Gentoo tree.

After I emerge -C catkin_pkg and try emerge again, it works, but it is not using catkin_pkg from overlay, but from gentoo tree...

Is it valid behavior?

[2017-06-11 13:12] archenroot commented on #71
I think we all are willing to help, so need lets say navigation

This is something @allenh1 could decide as well. To me multi-python is nice. Maybe eclass can define something like stable python mapping record and experimental one.
`kinect -> python2_7(stable), python3_4(experimental|test|etc.)`

I agree, lets forget it... this just naturally came to mind...

[2017-06-11 13:14] archenroot commented on #86
Problem is that after continuing same error from beginning appeared again:
[code]

[2017-06-11 13:29] archenroot commented on #86
I checked via pip:
ares ~ # pip list |grep catkin
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
catkin-pkg (0.3.4)

**I am using PYTHON 3.4** and that was a problem why the ros-overlay version wasn't selected, I switched to 2.7 and s

[2017-06-11 13:39] allenh1 commented on #86
@achenroot Are you up to date with the latest ebuilds?

Also, you don't need `dev-python/*` anymore, so feel free to just remove `dev-python/catkin`.

[2017-06-11 13:59] archenroot commented on #86
Yes, I am in sync and switched to Python 3.5, because it is hard coded in some files. I deleted now directory dev-python in overlay and going to give it try again. :-)

[2017-06-11 14:10] archenroot commented on #86
I configured PYTHON in make.conf as following to support your python3.5 hardcoded stuff in some packages, but:
[code]

, but I get

[code]

I think I have somehow messy env or...

[2017-06-11 14:12] allenh1 commented on #86
You still have the `dev-util/ros*` packages from the main repo installed, it would seem.

[2017-06-11 14:19] archenroot commented on #86
In simple words, when I do:
`emerge -av ros-kinetic/desktop`

The following keyword changes are necessary to proceed:
[code]

And another issue is with pyyaml:
[code]

I expected I will get it working today :D haha

[2017-06-11 14:22] archenroot commented on #86
When I install ros-kinetic/desktop it is pulling in Gentoo tree packages, but these are not compatible ....

[2017-06-11 14:22] allenh1 commented on #86
You might look at the python setup section on the ROS install guide for Gentoo: http://wiki.ros.org/lunar/Installation/Gentoo

[2017-06-11 14:23] allenh1 commented on #86
`dev-python/catkin_pkg` is not a gentoo package... They have `dev-util/catkin_pkg`.

[2017-06-11 14:24] archenroot commented on #86
Thanks, i am going follow it, thx for assistance :D

2017-06-11 16:22 GMT+02:00 Hunter Allen <notifications@github.com>:

[2017-06-11 15:14] archenroot commented on #86
my mistake, you are right, there was really mess in my environment as I was
tried in past gentoo and now overlay and probably it gets messed up little
bit...

2017-06-11 16:23 GMT+02:00 Hunter Allen <notifications@github.com>:

[2017-06-11 17:11] archenroot commented on #86
I did system update, followed instruction for python3.5 as per page and started with lunar base to emerge, but It is still pulling automatically in dev-util/rosdep-0.11.5::gentoo for example causing overwriting previously manually installed from overlay...:
[code]

Situation is also worse that when I query:
[code]

There is completely missing **Latest version available column**, also strange...

[2017-06-11 17:19] allenh1 commented on #86
Hm. That's strange. Maybe it's listed in the rosdistro yaml?

[2017-06-11 17:22] archenroot commented on #71
@allenh1 If you in general agree on the way how to handle ros within Gentoo as per above discussion, maybe it could be good time to create new branch grant us access there, I mean @aballier @Alessandro-Barbieri and me initially, so we can have place for new Gentoo ROS integration, or do you prefer different way?

[2017-06-11 17:22] allenh1 commented on #86
Found it.

[2017-06-11 17:23] allenh1 commented on #71
I'd prefer to give you access to allenh1/ebuild-generator for now, since that's what gets merged into this repo.

I don't mind the discussion above at all. That all sounds super good.

[2017-06-11 17:33] archenroot commented on #86
I faced now another break:
[code]

[2017-06-11 17:34] allenh1 commented on #86
Hm... That looks a lot like #44

[2017-06-11 17:45] allenh1 commented on #86
@archenroot synch and try now. Should work?

[2017-06-11 17:52] archenroot commented on #86
@allenh1 - emerged ros-lunar/catkin-0.7.6::ros-overlay, after again std_msgs, but same issue.

[2017-06-11 18:01] archenroot commented on #86
Just for clarification, I have following make and cmake:
ares ~ # equery g ros-lunar/std_msgs
 * Searching for std_msgs in ros-lunar ...

 * dependency graph for ros-lunar/std_msgs-0.5.11
 `--  ros-lunar/std_msgs-0.5.11  amd64
   `--  ros-lunar/message_runtime-0.4.12  (ros-lunar/message_runtime) amd64
   `--  ros-lunar/catkin-0.7.6  (ros-lunar/catkin) amd64
   `--  ros-lunar/message_generation-0.4

[2017-06-11 18:20] archenroot opened #87 "ImportError: No module named 'rosmake' - ros-lunar/rosmake-1.14.0::ros-overlay"
While std_msgs are having those troubles I tried to pull in some basic stuff for make, run, etc. and facing now following error with rosmake.

[code]

So I checked python if rosmake is available and it isn't visible in python subsystem:
[code]

[2017-06-11 18:24] archenroot commented on #87
Actually here is error by trying to use it directly:
[code]

[2017-06-11 18:35] tfoote commented on #71
Hi @archenroot @aballier @Alessandro-Barbieri and @allenh1 thanks for pushing on this. It's great to see that there's interest in forging a path to submitting upstream. I hope with the automation we can keep the individual effort level down for ongoing maintenance for the greater ecosystem on Gentoo.

[2017-06-11 19:56] archenroot commented on #87
I think this is my fault as I didn't reconfigure my environment, I changed the paths of ROS env variables in ~/.bashrc to following:
[code]
Still doesn't work, but I think this is the root cause

[2017-06-11 19:58] allenh1 commented on #87
Ya, most of those are not right (and also don't need to be set).

[2017-06-11 20:00] archenroot commented on #87
And how looks your ROS env? These are remaining blocks from Gentoo ROS tree work...

[2017-06-11 20:02] allenh1 commented on #87
I actually don't set any of those and just source `/opt/ros/setup.bash`

[2017-06-11 20:05] archenroot commented on #87
The file will be doing most of it, but due to issue with std_msgs package I didn't finish the lunar install... so don't have this file :-).

Ok, I will install the kinetic as well and see how it works on my system, can i do kinect with 3.5 python as well?

[2017-06-11 20:23] archenroot commented on #86
So this is same issue on both kinetic and lunar. as it is also same package version.

[2017-06-11 20:25] archenroot commented on #44
@Alessandro-Barbieri what value did you put for CATKIN_PREFIX_PATH? Or how you resolved this even by some "hack"? Thx

[2017-06-11 20:51] allenh1 commented on #87
I meant `/opt/ros/lunar/setup.bash`

[2017-06-11 21:14] allenh1 commented on #87
The setup file comes from catkin. You should have it. It will set everything up correctly with respect to environment, so you should still be able to do *some* things, though you didn't finish your lunar install.

[2017-06-11 22:32] Alessandro-Barbieri commented on #86
@archenroot

try this

`emerge --unmerge `eix -I -C dev-ros --only-names``

[2017-06-11 22:41] Alessandro-Barbieri commented on #84
`/home/travis/build/ros/ros-overlay/travis-overlay/ros-indigo/genty/genty-1.3.0.ebuild: line 8: tests. It promotes generative: command not found`

[2017-06-11 22:45] Alessandro-Barbieri commented on #44
@archenroot the same as `CMAKE_PREFIX_PATH`

[2017-06-12 06:06] archenroot commented on #87
Right, ok, the file is under sh /opt/ros/lunar/setup.bash and is part of catkin package. Thx.

[2017-06-12 06:34] archenroot commented on #44
Very good, so I configured for lunar as following:
ares ros-overlay # env|grep CAT
CATKIN_PREFIX_PATH=/opt/ros/lunar

and it works, I can pull in std_msgs package.

Question: In case I will be emerging multiple distros (I plan indigo and kinetic), should CATKIN PREFIX always reflect specific distro path, or it can contain ALL of them and they are clever enough to decide which path is relevant for

[2017-06-12 06:57] archenroot commented on #86
In general handling of Python is not perfect with current ebuilds, and should be implemented in the eclass we discussed.

[2017-06-12 06:58] #86 closed

[2017-06-12 07:00] archenroot commented on #87
I have now lunar rosmake working

[2017-06-12 07:00] #87 closed

[2017-06-12 07:06] archenroot commented on #78
Creating the symlink handle the issue as hack, but as proved this module should be used/detected in different way. Let's leave this one open.

[2017-06-12 07:29] archenroot opened #89 "lunar roscore: ImportError: No module named 'defusedxml'"
While testing roscore from lunar distro I encountered:
[code]

[2017-06-12 07:31] archenroot opened #90 "[question] lunar: ROS master URI is not set"
I finished Lunar install and disabled my own ROS env config in bashrc and used distro setup.bash file to be sourced.

However I encountered:
zangetsu@ares ~/proj/3d-frameworks/direct-sparse-odometry_ros $ roscore
ROS master URI is not set
The traceback for the exception was written to the log file

This variable is not configured by distro?

[2017-06-12 07:47] allenh1 commented on #89
I'm confused... Is this still an issue?

[2017-06-12 09:11] archenroot commented on #89
I have quite experimental system here :-), so finally got it working but had to reemerge manually...

[2017-06-12 09:11] #89 closed

[2017-06-12 09:15] archenroot commented on #90
Related to refreshing the environment, strange is that first call (source setup.bash) didn't setup the variable properly... but closing.

I believe this was related to Gentoo default tree packages and env was pulled originally in and something remained to cause this...

Still it is only environment specific issue and should be always easy to handle.

I am finally at:
zangetsu@ares ~/proj/3d-framew

[2017-06-12 09:15] #90 closed

[2017-06-12 09:17] archenroot commented on #90
Just for some reference:

# ENV
[code]

# emerge --info
[code]

[2017-06-12 09:48] archenroot opened #91 "Manifest issue: Fetched file VERIFY FAILED! all smach* packages"
Just another example of how overlap with Gentoo tree makes issues (when you mix them :-) )
[code]
Not sure if this is cause by different versions of smach:

[code]

[2017-06-12 09:57] archenroot commented on #91
No, it is because bad Manifests for both smach and smach_msg packages under ros-lunar.

I deleted and manually recreated Manifests and it works.

[2017-06-12 10:10] archenroot commented on #91
Same with
[code]

[2017-06-12 11:29] archenroot opened #92 "CUDA architecture handling"
I am now working on proposal for Gentoo new USE_EXPAND variable CUDA_ARCHITECTURE/CUDA_TARGETS, which will allow user to specify architectures to be used when compiling.

Just for background.
As I emerge now ros-lunar/opencv package I noticed that CUDA is not properly handled. It is compiling on my laptop's GTX 960M following architectures:
[code]

But 960M is Maxwell architecture, therefore follo

[2017-06-12 12:46] archenroot opened #93 "[non-ros-bug] Could not find the following Boost libraries: boost_python3"
I have issue with boost python 3 library, it is not ROS package issue itself:
[code]
The cmake module is provided by CMake itself:
[code]
I will probably report this back to CMake and fix it temporarily by setting the lib path.
I just wonder if you guys also faced this issue or just me with python 3.5 and cmake 3.8.2? Maybe you have different non-affected versions.

There are following python 3 bo

[2017-06-12 12:49] archenroot commented on #91
By regeneration of all smach* manifests this has been solved.

[2017-06-12 12:51] archenroot commented on #91
I just keep it reopen so you could regenerate those ebuilds.

[2017-06-12 14:41] archenroot commented on #93
Well, I found these reports on the new and actually here is the piece in cv_bridge CMakeLists.file which causes the issue;
[code]

I just changed the python3 back to python and CMake detect python version which I actively use in the moment (I have 2.7 and 3.5 with 3.5 eselect as active), so just did this dummy change:
[code]
Now to check what CMAKE is really doing i put there also massive verbose

[2017-06-12 14:42] archenroot commented on #93
So, I can continue my lunar install path... :dancer:

[2017-06-12 15:22] allenh1 commented on #93
I had to do a similar patch with a different package: 543ec193cbdd5f53ef72163abc69a9c797139113

[2017-06-12 16:15] archenroot commented on #93
I found some discussion finally at Boost and in summary they accept they don't' process python well via CMake subsystem, but I didn't see some. Problem is that our fix works only on Gentoo, if we apply maybe on Ubuntu with Python it won't work.

So temporarily these kind of stuffs are candidates for patch on Gentoo systems.

[2017-06-12 16:18] archenroot commented on #93
I didn't fixed it via patch, I actually completely recreated source tar.gz, but will create a patch and create pull request.

[2017-06-12 16:20] allenh1 commented on #93
You're right about this. Unfortunately, that's how this whole distribution thing goes. One patch leads to four patches, leads to 16, etc. I patched the ROS system to not use python, but rather a C program I wrote that sets up the environment appropriately, then execs into Python.

So if you do
[code]
You won't find the module, but
[code]
Will find the module. It's far from desirable, but I can't f

[2017-06-12 16:23] allenh1 commented on #93
Sure, that would be great.

[2017-06-12 17:25] archenroot commented on #93
I wonder little bit how is it possible that you or others didn't face same issue with boost and python 3 :-)

[2017-06-12 18:22] allenh1 commented on #93
Ya, I'm not sure either. I didn't need any patch, my brother needed a patch, and apparently you needed two patches. What a strange OS we've chosen...

[2017-06-12 20:03] Alessandro-Barbieri opened #94 "keywording of packages"
Can you keyword all unstable please? These packages have nothing of stable and this change of keywording will get rid of alot of repoman complains https://travis-ci.org/ros/ros-overlay/builds/241821953#L750

[2017-06-12 22:19] archenroot opened #98 "Ros Lunar OpenCV and use of USE flags in overlay in general"
I have Lunar finally on my laptop up and running :dancing_men:

I will be having here in Belgium next month my workstation from parents house back in Czech with 32 cores and I will be upgrading it to dual Xeon 22C, so 88 threads available, hope it will help as well the compilation times :-)))

But to the case. Comparing the Gentoo OpenCV and Lunar OpenCV it is big difference :-), especially when t

[2017-06-12 22:33] allenh1 commented on #98
Ok, that makes sense. I'm a little busy with other things at the moment, but this may be something for us to look at in the future.

In the meantime, I strongly encourage contributions to the ebuild-generator repo. You should have push access now, and it would be great to have these kinds of discussions there.

[2017-06-12 22:45] archenroot commented on #98
Ok, I will be moving into that space now...

[2017-06-13 00:07] archenroot opened #99 "Cannot create workspace: catkin_make => pkg_resources.DistributionNotFound: The 'argparse' distribution was not found and is required by catkin-pkg"
I tried to create my catking workspace:
[code]
I tried to test argparse which is now part of Python distribution and it works:
[code]

Could it be some back in catkin_pkg?

[2017-06-13 00:11] allenh1 commented on #99
I had to pip install that (for some reason). I think this is similar to empy.

[2017-06-13 05:54] archenroot commented on #99
Ok, good to know, so it is broken in the moment, I have on my system following versions available:
[code]
I have installed following packages:
[code]

NOTE: Gentoo in general doesn't provide or it is hard to check which overlay is used for installed package the 0.3.4.0 versions are available in both Gentoo and overlay:
[code]
But in main Gentoo tree the package has **4 patches, one of those is arg

[2017-06-13 06:12] archenroot commented on #99
Co I created a new package ebuild in ros-overlay and actually completely copied the ebuild from Gentoo tree ( I wanted to keep it in overlay to prevent some unexpected issues with mixed stuff I experienced previously):
`>>> Installing (1 of 1) dev-python/catkin_pkg-0.3.5::ros-overlay`

Now when I create catkin workspace, it works:
[code]

I think important than other details are 4 available patche

[2017-06-13 18:53] Alessandro-Barbieri commented on #99
I only use the downstream versions, are better maintained.

[2017-06-14 00:29] Alessandro-Barbieri commented on #91
I need this solved to continue my journey to `ros-lunar/desktop_full`

[2017-06-14 00:41] Alessandro-Barbieri commented on #30
WOAH

trying to regenerate the manifests

[code]

[2017-06-14 02:43] Alessandro-Barbieri opened #101 "error building turtlesim"
[code]

[2017-06-14 02:45] Alessandro-Barbieri commented on #101
same with `ros-lunar/pcl_msgs-0.2.0`

[2017-06-14 02:50] allenh1 commented on #101
That looks like you have a mix of the new install and the old install method going on... You shouldn't have. `dev-python/` anything at this point, just `ros-lunar/*`.

I'm getting ready to clean up the repo, but I've been busy with turtlebot3 and ROS2 lately. I think I will have time for it later this week

[2017-06-14 06:33] archenroot commented on #91
@Alessandro-Barbieri  you can still regenerate manually to continue...

[2017-06-14 08:37] archenroot opened #102 "[bug] Wrong package selected on rosdep (dev-libs/scipy instead of sci-libs/scipy)"
When I run on my project ROSDEP it is pulling in non-existing package:
[code]

dev-libs/scipy package doesn't exist in Gentoo tree, but there exist this one:
[code]

I copied the package in my local overlay into dev-libs category to cheat ROSDEP, and this workaround works, but this is a bug.

[2017-06-14 11:12] archenroot commented on #99
@Alessandro-Barbieri
Yes, @allenh1 told me to remove completely dev-python from the ros-overlay folder while resolving other issue before... so we build only on Gentoo dev-python packages.

[2017-06-14 12:50] Alessandro-Barbieri commented on #101
I removed the `dev-python/*::ros-overlay` packages and now it can't find `catkin_pkg`

[code]

[2017-06-14 13:40] allenh1 commented on #101
You'll need to rebuild catkin, I think.

[2017-06-14 14:28] #102 closed

[2017-06-14 14:33] #99 closed

[2017-06-14 14:36] archenroot opened #103 "[off-topic-question] What camera driver is available in ROS Lunar"
I know this goes better to ROS forum, etc. but maybe you can quickly help me here.

I am trying to get USB Camera (laptop built in)  working, **but usb_cam package is not available anymore in Lunar,** it was available in Indigo only which I don't have installed.

Is there any replacement or the package is in the moment only missing? Or what driver you use for USB cams in Lunar?

[2017-06-14 14:54] allenh1 commented on #103
Yes, I'll do it this once, but I think you'll usually find that the ros answers forum is even quicker!

http://wiki.ros.org/Sensors

There's a decent list of cameras there. I think there's a generic one, but I'm not a CV guy.

[2017-06-14 15:08] archenroot commented on #103
@allenh1 - I will go next time to wiki and forum...

[2017-06-14 15:08] #103 closed

[2017-06-14 19:42] archenroot opened #104 "image_view : error while loading shared libraries: libopencv_core3.so.3.2: cannot open shared object file: No such file or directory"
As the message says:
[code]

I have ros-lunar/opencv cv_bridge as well, the issue is that image_view is linked against /libopencv_core3.so.3.2.0 library:
[code]
But reports missing **libopencv_core3.so.3.2** without 0 in the end.

[2017-06-14 19:44] allenh1 commented on #104
Does this prevent the node from running?

[2017-06-16 14:07] allenh1 commented on #103
@achenroot the usb_camera driver was just released in lunar, so you should be able to install it shortly. The next gentoo sync should catch it. If not, let me so and I'll retrigger it.

[2017-06-23 19:46] #94 closed

[2017-06-23 20:12] Alessandro-Barbieri commented on #94
Only 4 missing

[code]

[2017-06-25 00:10] allenh1 commented on #18
Closing this, since we have a working Gazebo 7.8 build.

[2017-06-25 00:10] #18 closed

[2017-06-25 00:11] allenh1 commented on #104
@archenroot could I get a little more info on this please?

[2017-06-25 00:12] allenh1 commented on #101
@Alessandro-Barbieri Is this still an issue for you?

[2017-06-25 00:18] Alessandro-Barbieri commented on #101
If you want to close it, close it. I'm installing the source based for now and I can't test other methods.

[2017-06-25 00:23] allenh1 commented on #101
Ok, cool. Just trying to figure out where things are here now that I have some time. Thanks!

[2017-06-25 00:23] #101 closed

[2017-06-27 19:28] #30 closed

[2017-06-27 19:28] #51 closed

[2017-06-28 11:08] archenroot commented on #98
Should i introduce this by patching existing ebuild, or rather the generator itself?

[2017-06-28 11:10] archenroot commented on #104
@allenh1 - I was quite busy and going for vacation this Thursday for 2 weeks, so will get to this later in summer. I finally created temporarily my own opencv release to get this working, I will provide more info later.
Thx.

[2017-06-28 18:40] allenh1 commented on #98
@archenroot I think patching the ebuild generator itself would be the best approach, if you don't mind!

[2017-07-13 17:01] dkati commented on #89
how did u solve that :) thanks

[2017-07-13 17:31] allenh1 commented on #89
He probably just didn't emerge it originally with python 3.5. Btw, you can now use Python 2.7 (which is likely best, since there are some ROS packages which still don't support Python 3).

[2017-07-13 17:33] dkati commented on #89
i do use 2.7 but i still have the same problem :/ the catkin_make is done but roslaunch doesnt run for certain packages

[2017-07-13 17:40] allenh1 commented on #89
Hm... Do you mind filing a separate issue with more information?

Please include things like ros distro, install method (source based or portage based), the date you emerged things, etc.

[2017-07-13 17:42] dkati commented on #89
i am on ros kinetic
Running
roslaunch husky_gazebo husky_farm.launch laser_enabled:=false kinect_enabled:=true
gives me the error.

here is the source of the package
https://github.com/ros-autom/husky

I touched the /opt dir and installed/removed some packages though...i didnt touch the source of the package...i guess i removed something that i shouldnt :P

[2017-07-13 17:45] allenh1 commented on #89
I don't think that package has been released in `ros-kinetic` yet. I'll try and build it from source when I get a few.

[2017-07-13 19:27] allenh1 commented on #89
@dkati What's the exact error you get? I get one that says it doesn't know what multimaster_launch is.

[2017-08-01 21:02] allenh1 opened #134 "PCL CMake Configuration Problem"
[code]

[2017-08-01 22:00] paralin opened #135 "Rosdep download verification fails, breaking build"
Getting the following output when emerging following the tutorial in the README:

[code]

[2017-08-01 22:10] allenh1 commented on #135
@paralin You know, I was just thinking earlier about updating the README to avoid this kind of situation, but didn't for whatever reason.

The installation method has greatly changed since I wrote it... You can find the updated guide on the [ROS wiki](http://wiki.ros.org/Installation/Gentoo).

[2017-08-01 22:11] allenh1 commented on #134
This needs a patch in the future -- just a note.

[2017-08-01 22:18] paralin commented on #135
Well, seeing as your code is latest on master, one would expect the README to reflect the current state of the code. I would fix that up real quick :)

[2017-08-01 22:18] paralin commented on #135
Also, hi Hunter

[2017-08-01 22:21] paralin commented on #135
Also, the ebuild in your repository for that package IS indeed broken, and needs a fix. The manifest is wrong for that file, or otherwise out of date-

[2017-08-01 22:35] allenh1 commented on #135
Ya, good idea.

Not sure how that happened, but I just pushed a new one. Let me know if it's still broken.

[2017-08-01 23:21] paralin commented on #135
Roslisp is broken, same issue.

[2017-08-01 23:26] allenh1 commented on #135
Which roslisp (distro)?

[2017-08-01 23:28] paralin commented on #135
PR submitted, it's lunar again...

[2017-08-01 23:34] #135 closed

[2017-08-02 00:06] allenh1 commented on #135
@paralin This got closed when I merged the PR. Does Lunar need to be regenerated?

[2017-08-02 00:32] paralin commented on #135
The rest of it worked.

On Tue, Aug 1, 2017, 5:06 PM Hunter Allen <notifications@github.com> wrote:

[2017-08-02 01:49] allenh1 commented on #135
Excellent! Glad to hear it.

[2017-08-03 00:07] paralin opened #138 "RQT Image View Plugin Won't Load"
[code]

The file is present at /opt/ros/lunar/lib//librqt_image_view.so, but since there's an extra slash in that path (I think?) it's not loading the library correctly. I think there's a path issue somewhere in the overlay.

I've tried:

 - Rebuilding ros-lunar/opencv3 and ros-lunar/rqt and ros-linar/rqt_image_view
 - Deleting ~/.config/ros.org

[2017-08-03 00:21] allenh1 commented on #138
This could indeed be the culprit. There's likely an issue with one of the `.cmake` files that is installed by `image_view`, or there's some sort of `lib64` problem (Ubuntu only has `lib`, so some packages just assume things are in lib).

A patch should fix this right up, after the correct file is found.

[2017-08-03 00:25] paralin commented on #138
image_view doesn't work either:

[code]

I've rebuilt opencv3 (from ros-lunar) a few times, still can't find it.

[2017-08-03 00:37] allenh1 commented on #138
@paralin I had a few to investigate it now, and it seems that the `libopencv_core*.so` files end up in `/opt/ros/lunar/lib64`, and the image view files end up in `/opt/ros/lunar/lib`.

When I get a few more, I'll try and figure out why.

In the mean time, you can get things running by just doing this:

[code]

[2017-08-03 01:19] #138 closed

[2017-08-03 01:20] allenh1 commented on #138
@paralin Please

[code]

then re-emerge `ros-lunar/catkin`. After that, you should be all set.

[2017-08-04 22:12] Alessandro-Barbieri opened #141 "travis is stuck"
Why travis always runs out of time?
How much time takes to regenerate all the manifests?

[2017-08-04 22:24] allenh1 commented on #141
@Alessandro-Barbieri That's a really good question... It's definitely a substancial amount of time. Maybe it could just test Lunar? Do you think you could adjust the CI to do that?

[2017-08-05 17:02] Alessandro-Barbieri commented on #134
https://bugs.gentoo.org/show_bug.cgi?id=587468

[2017-08-05 17:28] Alessandro-Barbieri commented on #141
Maybe this is the problem https://bugs.gentoo.org/show_bug.cgi?id=511154

[2017-08-05 17:33] Alessandro-Barbieri opened #142 "digest verification failed"
Repoman says:

[code]

[2017-08-06 06:25] allenh1 commented on #142
These ebuilds are just all kinds of bad. I just removed them.

[2017-08-06 06:25] #142 closed

[2017-08-06 07:04] archenroot opened #144 "ros-overlay in layman overlay registry availability"
Hi @allenh1 ,

summer time and being busy with few neural network prototypes with help of ROS :-) I think we could add the ros-overlay into layman overlay registry, so all artifacts are also searchable via zugaina.

Could you please provide me with your bugs.gentoo.org email registered, I will fill it into repositories.xml as owner. Gentoo also send you confirmation, etc....

Hope you enjoy summer

[2017-08-06 07:38] allenh1 commented on #144
Awesome! Sounds like some cool work!

I think the overlay is already registered, but, if not, this would be great! My registered email is  hunter@openrobotics.org (my OSRF email).

[2017-08-06 19:32] archenroot commented on #144
@allenh1 - sorry, I overlooked it, you are right, it is in there...

[2017-08-06 19:44] allenh1 commented on #144
Not a problem! Thanks for looking into it.

[2017-08-08 00:48] allenh1 commented on #71
Closing for now, just doing some cleanup.

[2017-08-08 00:48] #71 closed

[2017-08-08 00:50] allenh1 commented on #78
Glad to report that this is no longer an issue! I just did a fresh Gentoo install on a Raspberry Pi 3 and didn't need to make a symlink when building ROS.

[2017-08-08 00:50] #78 closed

[2017-08-08 00:52] allenh1 commented on #84
This should be resolved as of ros-infrastructure/superflore#36

[2017-08-08 00:52] #84 closed

[2017-08-08 00:54] allenh1 commented on #134
The source of this issue was that the minor version of VTK bumped, and I didn't do a revdep rebuild. False alarm everyone.

[2017-08-08 00:54] #134 closed

[2017-08-08 00:55] allenh1 commented on #104
@archenroot Just doing some repo cleanup. Is this still an issue?

[2017-08-08 00:59] allenh1 commented on #91
I just regenerated ALL manifests for kinetic and Lunar, as well as found a way to avoid this in the future (see ros-infrastructure/superflore#55, ros-infrastructure/superflore#56).

[2017-08-08 00:59] #91 closed

[2017-08-10 19:52] allenh1 commented on #144
@archenroot If you'd like to update the owner on [this list](https://overlays.gentoo.org/) that would be great!

[2017-09-06 11:25] mhallak commented on #18
I am trying to run: http://gazebosim.org/tutorials?tut=parallel&cat=physics
I have the following problem:
`-- ----------------------------------------

-- BUILD WARNINGS
-- 	OpenAL not found, audio support will be disabled.
-- 	HDF5 not found
-- 	DART not found, for dart physics engine option, please install libdart-core4-dev.
-- 	libswscale not found. Audio-video capabilities will be disabled.
--

[2017-09-06 13:50] allenh1 commented on #18
@mhallak If I remember correctly, the issue was simply that the sdformat library was sdf5 instead of sd4.

You might try building [SDF-4.3.2](https://bitbucket.org/osrf/sdformat/get/sdformat4_4.3.2.tar.bz2).

[code]

[2017-09-12 15:37] mhallak commented on #18
@allenh1 Thank you
Should I merge with gazebo 7.8 ? I have gazebo 7.7.0 and it crashes.
[question](http://answers.gazebosim.org/question/17243/parallel-physics-gazebo-770-ros-kinetic-ubuntu-16/)

[2017-09-12 16:34] allenh1 commented on #18
That would depend on the ROS distro you're using.

That said, I'm not sure why 7.7.0 crashes, but I would try updating first (unless you're using an older ROS version).

[2017-09-21 18:24] Lewis-Kelley opened #182 "there are no ebuilds to satisfy "media-gfx/pydot""
Pydot has been recategorized from media-gfx/ to dev-python/ as of August 19, 2017, but ros-lunar and ros-kinetic are still referring to the old category (specifically in qt-dotgraph). https://packages.gentoo.org/packages/dev-python/pydot

[2017-09-21 22:05] #182 closed

[2017-10-04 11:25] DasRoteSkelett opened #193 "Multiple Packages showing wrong filesizes"
Hi!
I am new to ros.
I am trying to install ros on gentoo. I come along quite a number of wrong (?) metadata in the ebuild.
Usually, it is enough to (re-)create the manifest, but I wonder, *why* the files do not match anymore, since in my understanding, the distro files should be stable?!

Attached a sample of a failed build.

Thanks and Regards,

   Matthias
[build.log](https://github.com/ros/ros

[2017-10-04 12:55] allenh1 commented on #193
Excellent! Welcome!

This has been a recurring theme for me... I too would expect some stability here, but, sometimes, the archives _do_ change size (and my cached distfile doesn't).

But, that's not a big deal. Thanks for reporting the issue, I'll ping you once I've regenerated those manifests.

[2017-10-04 14:08] allenh1 commented on #193
@DasRoteSkelett Ok, I've regenerated the manifest for you. Though I'm not sure why rosinstall was being downloaded -- note that you can just `emerge ros-[distro]/desktop_full` for kinetic, indigo and lunar (I need to update the kinetic install guide still).

[2017-10-05 17:08] DasRoteSkelett commented on #193
Hi @allenh1
thanks for the quick feedback. I synced and I am trying to emerge once again!

[2017-10-05 17:15] DasRoteSkelett commented on #193
There are still some left.
ros-kinetic/catkin for once. Would you prefere a merge request?!

Regards

[2017-10-05 21:54] allenh1 commented on #193
@DasRoteSkelett The packages under the distro-specific categories are in transition from a mistake I made previously (they get confused between distros). I've gone ahead and fixed this one, but, in the future, a PR is more than welcome!

[2017-10-09 07:54] DasRoteSkelett commented on #193
Hi @allenh1
I bravely submitted a pull request (my first one, so bear with me). Hope it somewhat complies to quality. It does need to be checked, as it "only" worked for me (gcc 6.4.0).

Thanks

[2017-10-09 07:54] #193 closed

[2017-10-11 11:19] concavegit opened #199 "eigin_stl_containers_release=0.1.8.tar.gz verify failed"
`ros_lunar/eigen_stl_containers` fails to emerge due to this error:

[code]

My guess is that the tar.gz was changed, so running `ebuild <package> manifest clean` again to update the manifest, or a rosdistro sync, should fix the issue.

[2017-10-11 11:35] concavegit commented on #199
The same goes unexpected file size problem is also in rospack-2.4.2

[2017-10-11 16:05] #199 closed

[2017-10-15 23:23] concavegit opened #204 "Failed to emerge lunar tf2_py, sdformat, opencv3, stage"
I attempted a `emerge -a ros-lunar/desktop_full` and a few packages failed to build. I fixed some in a pull request just now (#203) which just updated some manifests, but the above packages require more than a manifest update to build. This is a bit of a monster of a post, so feel free to ask me for more info. That being said, here are the build logs:

- [`ros-lunar/tf2_py`](https://gist.github.co

[2017-10-15 23:24] concavegit commented on #204
`sci-libs/sdformat`:
[code]

[2017-10-15 23:25] concavegit commented on #204
`ros-lunar/opencv3`:
[code]

[2017-10-15 23:26] concavegit commented on #204
`ros-lunar/stage`
[code]

[2017-10-15 23:31] concavegit commented on #204
OpenCV3 also needed a manifest update, which I took care of. However, errors still persist:
[code]

[2017-10-16 05:45] tfoote commented on #204
Please cross reference pull requests with issues (aka #203). And for very long outputs please put them into a gist or other things and only put pertinent excerpts here so the thread can remain readable.

[2017-10-16 11:20] concavegit commented on #204
Fixed! I will also add the emerge --info later, especially since tf2_py worked before I began to use Gentoo's default desktop profile.

[2017-10-16 12:44] concavegit commented on #204
[`emerge --info`](https://gist.github.com/concavegit/8d344e017d9956892a8567227e3f3cb9)

[2017-10-17 14:52] concavegit commented on #204
After adding some dependencies to `ros-lunar/opencv3`, the new build.log is here: https://paste.pound-python.org/show/5nZ5k97Ge7xXbQdOfm6E/

It is similar to this bug and might be able to be fixed in the same way:  https://bugs.gentoo.org/623840

[2017-10-17 15:29] concavegit commented on #204
It also seems that `ros-lunar/tf2_py` suffers this issue: https://github.com/ros/geometry2/issues/50

[2017-10-17 15:37] concavegit commented on #204
The main thing with `ros-lunar/stage` seems to be a multilib-strict check failure

[2017-10-17 20:19] allenh1 commented on #204
I wish I could say that's even a little bit surprising. This kind of issue has been the thorn in my side since I started this whole process. I don't really have a good way to fix it, other patching each affected ebuild manually.

Are you using GCC 6? Maybe @vrabaud has some input here?

[2017-10-18 01:51] concavegit commented on #204
Yup, I am using GCC 6

[2017-10-19 20:03] allenh1 commented on #52
@Alessandro-Barbieri What's the status of this? Do you have any other license tests that should be tested?

The above are being added to superflore via ros-infrastructure/superflore#73.

[2017-10-19 21:34] Alessandro-Barbieri commented on #52
Let's close for now since travis is not working

[2017-10-19 21:34] #52 closed

[2017-10-21 11:30] flabrosse commented on #93
I have that same exact problem, now, from a fresh tree sync.

[2017-10-23 00:16] concavegit commented on #204
I tried looking into fixing this myself, but I do not understand the build process well enough (How do I adapt the patch in https://bugs.gentoo.org/623840)?, and how can I get tf2_py to work in general? I am stumped. In my fork, I have added the required vtk use flag, but opencv still fails to build.

[2017-10-23 04:15] allenh1 commented on #204
I'm not sure either... I can look into it, though.

I think you need to use python 2 -- the ROS stack isn't quite Python3 yet (though I don't know what's wrong with tf2_py, actually... @tfoote, do you have any thoughts?).

Would you mind sending in a patch for ROS/rosdistro? If you update it there, Superflore will be able to catch it for other things that depend on vtk.

[2017-10-23 05:58] allenh1 commented on #93
Hm... Have you tried with just python 2? Maybe we need to blacklist this package...

[2017-10-23 07:23] concavegit commented on #204
Will do! actually, it turns out I will need to do some lidar work, which will require kinetic. On that note, it seems that ros-kinetic/rospack uses an old version which causes some issues with new boost releases (https://github.com/ros/rospack/pull/80), causing the build to fail. Would it be possible to use the newer version of rospack in ros-kinetic?

[2017-10-23 07:34] concavegit commented on #204
On ros-kinetic, `sci-libs/sdformat` still fails to build (makes sense, it is the same package), and ros-`kinetic/opencv3` has identical build errors with gcc 6.

[2017-10-23 07:41] concavegit commented on #204
tf2_py with python2.7? I have tried `eselect python set <number for python2.7>`, and the build still fails.

[2017-10-23 07:43] concavegit commented on #204
Oh, I see. For tf2_py, I have to disable python_targets_python3_5. Thanks.

[2017-10-23 08:21] concavegit commented on #204
I got opencv3 to build by using gcc 5, so for now just `ros-kinetic/rospack` and `sci-libs/sdformat` are the only things to not build.

[2017-10-23 08:56] flabrosse commented on #93
All package want to install with "PYTHON_TARGETS="python2_7 -python3_5" and I don't have python 3.5 installed (only 3.4).  I thought this was the problem but it is looking for python3 anyway.  I'll modify the python target a bit later and report back.

[2017-10-23 19:44] allenh1 commented on #93
I have the following in my `/etc/portage/package.use` file to help with this:
[code]

[2017-10-24 15:11] concavegit commented on #204
@allenh1 Thanks for doing that. However, ros-kinetic still tries to merge `ros-kinetic/rospack-2.3.3`. I see that you changed `ros-python/rospkg`, but that is not affecting rospack.

Is it correct that I need to edit    https://github.com/ros/rosdistro/blob/f5bf478bd06b2c4dd3f5e4e5005cb9a815a38076/kinetic/distribution.yaml#L7762

to read
[code]
?

[2017-10-25 14:29] gemarcano commented on #204
For opencv3, the problem was supposedly fixed a good while ago, so I'm not sure why it is coming up again... is there a hard dependency on opencv3-3.2.0, or could it be upgraded to 3.3.0 (or whatever latest is)? I can try to investigate more later.

For stage, I simply patched the CMakeLists.txt using user patches, replacing the wrong else statement with elseif. It was a one line change, effective

[2017-10-25 15:43] concavegit commented on #204
Thanks for fixing stage!

Kinetic and lunar both have a dependency on opencv3-3.2.0, as it is the only one available in the repos, which I assume is because opencv3-latest is not yet released for them yet, or at least on gentoo.

[2017-10-25 15:54] concavegit commented on #204
@gemarcano can you link me to said user patches?

[2017-10-25 16:16] gemarcano commented on #204
Ah, yeah, I might have confused the two. sdformat is the one I fixed. I'm inlining the patch here:
[code]

I just placed it in `/etc/portage/patches/sci-libs/sdformat-4.2.0/`.

As for stage, I did some poking around to see if it could be possible to fix the multilib problem... From looking at it in more detail, the problem stems from the fact they've disabled multilib handling... Here's the releva

[2017-10-25 16:29] concavegit commented on #204
The patch worked, Thanks! Now hopefully all that is left is to get rospack sorted out.

[2017-10-25 17:50] allenh1 commented on #204
@concavegit I'm going to add a temporary patch to rospack in kinetic so that you can continue emerging (I updated my boost, and, sure enough, it's now failing on my end).

[2017-10-25 17:57] concavegit commented on #204
Since some are still on the stable version of boost, would it be better for me and everyone else using 1.65 to place a patch in /etc/portage?

[2017-10-25 18:18] allenh1 commented on #204
I don't think that should be the idea, since it's been merged into the codebase. And, since the ebuilds are all listed as unstable, those who just `ACCEPT_KEYWORDS="~amd64"` will get this boost version anyway. Or they can just use indigo.

[2017-10-25 21:10] concavegit commented on #204
Thanks for doing that, rospack builds now. However, now farther along the installation process, =ros-kinetic/cv_bridge=,  =ros-kinetic/camera_calibration_parsers=, =sci-electronics/gazebo= fail to build.

build logs:
- [cv_bridge](https://gist.github.com/concavegit/fe03e37f3664073e7755ce99cf7ae8fb)
- [camera_calibration_parsers](https://gist.github.com/concavegit/b138349124f5a0d9c54d9b1e1e6cb84e)

[2017-10-26 16:24] gemarcano commented on #204
To make opencv3 compile with >=GCC 6, I modified src_configure in the ebuild:

[code]

Disabling precompiled headers makes compilation complete. It would probably be better to add this if GCC 6 or newer is used instead of just blanket like I did.

[2017-10-26 18:20] allenh1 commented on #204
@concavegit do you mean `sci-electronics/gazebo`? Mine isn't building either, and I'll try to get that going asap.

@gemarcano Nice! I have no problem just enabling this generally. I might patch superflore to handle this case.

[2017-10-26 20:40] allenh1 commented on #204
@concavegit I've updated the Gazebo ebuild. I think it should be good now (it's working on my end).

[2017-10-26 23:52] concavegit commented on #204
@allenh1 @gemarcano Thanks for all your help! I will not be able to test this today, but I will close the issue because we have probably departed from the title of the issue anyways.

[2017-10-26 23:52] #204 closed

[2017-10-26 23:54] allenh1 commented on #204
@concavegit sure thing! Feel free to reopen if you still have trouble.

[2017-10-27 00:52] gemarcano opened #229 "ros-lunar/mavros package missing (required by ros-lunar/mavros_extras)"
ros-lunar/mavros is not in the overlay. There is one for indigo, but not for lunar. Is this an oversight? I'll try to modify the indigo ebuild to install it for lunar.

[2017-10-27 01:05] allenh1 commented on #229
@gemarcano this is likely due to a missing dependency. Ebuilds for this overlay are generated using the python package `superflore`. To get this going, you should try and find out which package is missing.

Currently, I'm adding a `--only` flag to the package so that users of the overlay can generate just one of the packages and get their PR submitted. See ros-infrastructure/superflore#76.

You wo

[2017-10-27 04:25] gemarcano opened #230 "ros-lunar/std_msgs (and others): ImportError: No module named deps"
I'm not 100% sure what changed in the past 2 days, but as of today, when trying to compile packages (I decided to blow everything out and re-compile everything just to make sure I'm not screwing anything up with my patching), I'm getting that python error during the cmake configuration part. I can provide more logs if necessary, but the relevant output I'm inlining here:
[code]

[2017-10-27 14:14] gemarcano commented on #230
Well, that's weird. Since `deps` isn't in the portage tree, I made an ebuild for it (so it actually gets installed to system folders properly)... and the error persists. Something else has to be going on...

I'm inlining the ebuild, just in case someone wants to try it. It is super bare-bones, and I was surprised it installed, but I made sure `deps` could be imported from all of my python interpre

[2017-10-27 14:42] gemarcano commented on #230
Alright, now I'm getting somewhere. The actual module missing is `genmsg.deps`. Trying to track down what's going on... since `genmsg` is installed on my system (maybe it got corrupted???).

[2017-10-27 14:49] gemarcano commented on #230
Seems like I had some weirdly stale genmsg files in `/usr/lib64/python*/site-packages/` (I'm not even sure how they ended up there, since they didn't belong to any package and pip wasn't tracking them). Now that I've nuked those rogue files, compilation is happening as intended. Looks like this was an environmental issue on my end and not a bug in the repository. Closing...

[2017-10-27 14:49] #230 closed

[2017-10-27 17:28] gemarcano commented on #229
Yeah, seems to be missing dependencies, specifically `geographiclib` and `geographiclib-tools`. I'm going to see what I can do about those...

[2017-10-27 19:58] gemarcano commented on #229
Ugh, this is annoying. `geographiclib` installs its python files to `${PREFIX}/usr/lib/python` unconditionally, with no regards for python2 or python3 support. I have an ebuild that can install `geographiclib`, but it doesn't (can't?) deal with the python mess at the moment.

[2017-10-28 17:50] allenh1 commented on #229
That's never fun. I have definitely been there. I'll take a look at this once I have a few, but please feel free to file a PR (even in a broken state) so I can get a feel as to what you're trying/how you're doing this.

Those are also pretty great.

@Alessandro-Barbieri do you have any advice for us here?

[2017-11-02 18:38] MalcolmMielle opened #244 "Kinetic install fails"
I'm trying to get kinetic to install but I'm hit by this error on emerging all the dependencies:

[code]

It seems to be a problem with conflicting versions of libsodium but I don't really know what to do about it

[2017-11-02 19:48] allenh1 commented on #244
[code]

Hm... Maybe this needs a patch? I'll take a look at that cmake file when I have a few.

[2017-11-02 20:04] MalcolmMielle commented on #244
Sorry if it's a stupid question but would it be a patch for the ebuild or something that should be send to upstream to sdformat ?

I'm a bit new to all this so I'm wondering what's best so to learn :)

[2017-11-02 20:49] allenh1 commented on #244
Not a dumb question at all. And, in fact, a question I'll be asking myself when I look at it. Usually, I'll patch the ebuild first and, if it's something that is worth fixing upstream, will upstream the patch. Almost always it will be worth it to send upstream if your patch is of quality.

[2017-11-02 21:05] MalcolmMielle commented on #244
Ok thanks :)! I'll get a look at how patchs work and all next week then.

[2017-11-02 21:09] allenh1 commented on #244
Ok, after applying the patch my ebuild is building again. Please reopen this if that fails to be true for you!

[2017-11-02 21:09] #244 closed

[2017-11-02 21:11] allenh1 commented on #83
@Alessandro-Barbieri do you know if this is still a problem?

[2017-11-02 21:13] allenh1 commented on #141
@Alessandro-Barbieri I think the most prudent move here would be to stop running travis here, and, instead, have a test case on superflore for building common targets that we could run on each rosdistro sync.

[2017-11-02 21:21] allenh1 commented on #141
closing this in favor of ros-infrastructure/superflore#81.

[2017-11-02 21:21] #141 closed

[2017-11-02 21:22] allenh1 commented on #229
@gemarcano Any progress here?

[2017-11-03 01:52] Alessandro-Barbieri commented on #229
`geographiclib` is only available in the `pchrist` overlay
an entry was added with https://github.com/ros/rosdistro/commit/3c9f482ea6b5df642ef40d2b1aaa1e08f06e0588
should we remove that entry?

[2017-11-03 04:36] gemarcano commented on #229
Sorry, I haven't had time to work on the ebuild. I may have some Friday. I could take a look at the ebuild in the `pchrist` overlay to see if it's a good starting point as well.

[2017-11-03 16:46] gemarcano commented on #229
Looking at the ebuild from the `pchrist` overlay, it's old (using `EAPI=3`). Version number is also old, `1.11-r4` vs. latest `1.49`. It also doesn't offer as much flexibility as it could (it was trivial to add some cmake enable/disable controls via useflags, namely `static-libs` and `doc`). I'm cleaning up my ebuild a little bit. I hope to put it here today.

[2017-11-03 17:06] Alessandro-Barbieri commented on #83
I don't know, it was an extract from a layman report.

I checked the first ebuild in the list manually and it's not fixed.

[2017-11-03 19:14] allenh1 commented on #83
Hm... Ok. Would you mind filing an issue on superflore that has a list of those packages which should be only listed as build depends?

[2017-11-03 19:14] allenh1 commented on #229
Great! I look forward to your PR!

[2017-11-03 19:18] gemarcano commented on #229
I'm attaching my ebuild for geographiclib. I'm relatively new at making ebuilds, so it's likely I've missed some things or screwed up elsewhere (like with the Python deps). The dependencies are versioned to the version I have on my computer, since the actual build system for geographiclib doesn't seem to have much versioning information (in other words, it's possible the minimum version required f

[2017-11-03 20:32] allenh1 commented on #229
After a quick once-over, this seems to be alright to me (with a few minor things). PR this and I'll comment on the small changes I'd like to see.

[2017-11-03 20:43] gemarcano commented on #229
Sure. Although, reviewing some of the other ebuilds in the repository, they all come from bloom-generated repositories, correct? I'd have to edit/make the ebuild to point to/use a bloom-generated repository for geographiclib, which I'm not seeing exist currently in ros-gbp.

On that point, I tried emerging dev-python/bloom-0.6.1 from ros-overlay, and I got a pretty nasty error message from portage

[2017-11-03 20:44] allenh1 commented on #229
Yes, bloom is currently broken. :( No idea how to fix it.

[2017-11-03 21:27] gemarcano commented on #229
Found the reason why it's broken:
`packages=find_packages(exclude=['test']),` as found in bloom's setup.py isn't enough to prevent setuptools from finding all the test packages being used/made by bloom. I'm looking into how to properly block those directories/packages. I can always hard-code them away, but it would be great if I could do something like `exclude=['test, test.*']`, which is what I'm

[2017-11-03 21:35] gemarcano commented on #229
That does it! I applied a test user-patch using that approach and it worked. Here's the patch:
[code]

[2017-11-05 22:21] MalcolmMielle opened #256 "Error during rospack compilation"
Hello,

So here is the error I hit when compiling the ros packages:

[code]

Seems like some boost library are missing.

[2017-11-06 00:03] allenh1 commented on #256
Have you tired `emerge ros-kinetic/rospack`?

[2017-11-06 11:15] MalcolmMielle commented on #256
Ha I was just following the readme on the github page :)

[2017-11-06 12:28] MalcolmMielle opened #258 "boost python libs not found"
So I'm trying to emerge ros using ` emerge ros-kinetic/desktop_full --ask` and I'm hitting this error with cv_bridge:

[code]

I feel like it's due to multiple version of python installed with boost also so it would be similar to this [bug](https://bugs.gentoo.org/447270). Reading the second comment it feels like patching it to use Gentoo patched FindBoost.cmake and FindPythonsLibs.cmake as that p

[2017-11-06 15:34] flabrosse commented on #93
Sorry about the delay in trying.  This did not help.  cv_bridge still fails, despite emerge not trying to use python3_5:

`[ebuild  N    ~] ros-lunar/cv_bridge-1.12.4::ros-overlay  USE="{-test}" PYTHON_TARGETS="python2_7 -python3_5" 0 KiB`

I still get:

`Could not find the following Boost libraries:
          boost_python3`

Any other suggestion?

[2017-11-06 16:03] gemarcano opened #259 "Indigo ebuilds broken"
Some of the ebuilds seem to be missing a newline character and a " between LICENSE and KEYWORDS.
[code]
A `git grep -l | wc -l` reports 93 ebuilds that are impacted by this problem. This was introduced yesterday (Nov. 5) in commit 517c3ba57dae7d0b573daf552c6f1f03c8a5d874.

[2017-11-06 16:29] allenh1 commented on #259
hm... Let me just revert that one then.

[2017-11-06 16:30] allenh1 commented on #259
done:  b0e51fa79256d0c01ddcf246a10e08d62155fad0

[2017-11-06 16:34] allenh1 commented on #256
I'm going to clear out the `README.md` file, I think. Now that there are actually some users (woot!).

I was referring to the [ROS wiki](http://wiki.ros.org/kinetic/Installation/Gentoo).

Excellent! let me know how that works out for you.

[2017-11-06 16:38] allenh1 commented on #258
duplicate: #93

[2017-11-06 16:38] #258 closed

[2017-11-06 16:39] allenh1 commented on #93
Well, this is becoming a clear issue for several people. Let me look into this. Maybe something like 543ec193cbdd5f53ef72163abc69a9c797139113 will help...

[2017-11-06 16:48] #259 closed

[2017-11-06 16:48] allenh1 commented on #259
@gemarcano thanks for the heads up!

[2017-11-06 16:55] allenh1 commented on #93
I just re-emerged `cv_bridge` on kinetic and lunar. I'll award this a "works on my machine" for now.

Let me know if this breaks stuff for the rest of you.

[2017-11-06 16:55] MalcolmMielle commented on #93
Ok that went through now. cv_bridge compiled fine on my machine

[2017-11-06 17:05] MalcolmMielle opened #262 "joint state publisher has missing dependencies"
It's a very small thing but I figure it's better to open it and have it closed if needed that not opening it. This happened during the desktop_full emerging:

[code]

Which was easily solved by doing `emerge rostest --ask`. It's probably a very small thing missing somewhere saying that rostest needs to be emerged before the joint state publisher.

[2017-11-06 17:13] MalcolmMielle commented on #93
I hit the same problem with `ros-kinetic/camera_calibration_parsers-1.11.12::ros-overlay` which probably would need the same kind of patch

[2017-11-06 17:19] allenh1 commented on #256
Is this one resolved?

[2017-11-06 17:21] MalcolmMielle commented on #256
Yep, just emerged it to test and it works :)

[2017-11-06 17:21] #256 closed

[2017-11-06 17:26] allenh1 commented on #93
@MalcolmMielle Ok, regenerated.

[2017-11-06 17:28] allenh1 commented on #262
Looks like they listed `rostest` as a test dependency, so `superflore` didn't pick it up. I'll have to make `superflore` aware of test dependencies, probably adding them under `RDEPEND` (I'd do the fancy `USE` flag logic if they have `test` set, but it seems this is critical to compilation).

[2017-11-06 18:33] allenh1 commented on #229
@gemarcano Thank you for the patch! It's sitting in the patch folder and working on my machine.

[2017-11-06 18:40] tfoote commented on #262
At a quick glance this looks like a bug upstream. Either it should be a build depend or it should be conditionally disabled unless testing is enabled in the CMakeLists.

And when emerging, if you're enabling testing you need to add the test depends as well as the build depends.

[2017-11-06 20:44] allenh1 commented on #83
Ok, those fix the packages enumerated previously. If you find any others, let me know.

Closing for now.

[2017-11-06 20:44] #83 closed

[2017-11-06 21:00] gemarcano commented on #229
While working on this a bit more, `bloom`, even though it only supports python 3.5 (at least that's the only python version it reports on Gentoo), blows up on itself when trying a bloom-release. Specifically, it screws up bytes and strings (classic python2/3 issue).

Specific to this issue, what do you actually need? A large part of the problem is that ROS doesn't have a geographiclib-release pack

[2017-11-07 00:07] allenh1 commented on #229
Hm... Well, I suppose we should force it back into version 2, or help the upstream patch for 3.

I need to have the key resolve within rosdep (this would be a pr into ros/rosdistro that would add in a Gentoo definition for the rosdep key that is missing). At that point, an ebuild can be generated by superflore. Finally, an ebuild for the missing dependency would make this resolved.

We probably sh

[2017-11-07 09:33] Alessandro-Barbieri commented on #229
@gemarcano Can you give a look at [this](https://bugs.gentoo.org/636338)?

[2017-11-07 11:46] rochus opened #268 "ros-indigo/razer_hydra-0.2.1.ebuild is broken"
The razer_hydro ebuild is broken due to a missing/erroneous LICENSE statement on line 13. Not a big deal, however this in turn breaks for instance eix-update.

In case you require a patch, find it here: https://gist.github.com/rochus/51e4816e7e3ef6e9f6d934cbb6fdf527

[2017-11-07 17:47] allenh1 commented on #268
The reason this one broke is because the license could not be resolved: the license in the `package.xml` is mapped to "Public Domain", and I don't have a mapping within superflore to map that to the correct license.

[2017-11-07 18:38] gemarcano commented on #229
@Alessandro-Barbieri, I'm not sure that reporting this upstream would accomplish much, since the ros-*/ packages really don't mesh well with the upstream tree. At least not until the ros-*/ packages make it to upstream (if they ever do).

I've submitted a patch for bloom-release upstream that should fix the bytes vs. string issue.

So, looks that before we can do anything else, we need to PR to ro

[2017-11-07 18:54] gemarcano commented on #229
For ros/rosdistro, is it the rosdep/base.yaml that I should add geographiclib to?

[2017-11-07 21:35] gemarcano commented on #229
On the matter of geographiclib-tools, they are included in the building of geographiclib itself, so just compiling and installing geographiclib deals with both of those dependencies.

[2017-11-07 23:21] gemarcano commented on #268
`/usr/portage/licenses/public_domain` is a candidate for the correct license. It's contents:
[code]

[2017-11-08 00:38] allenh1 commented on #268
Good eye, haha. Not sure why I failed to see that before...

[2017-11-08 19:43] MalcolmMielle opened #270 "issue during grid_map emerge"
I'm not sure this is where I should post but I can't emerge `kinetic/grid_map`

[code]

Mainly the error seems to be here:

[code]
If not here where should I report this ? Is it something that has to do with the overlay or is it more `In case of questions, suggestions or problems, please contact ice-mirror@cs.tut.fi` that I should go see ?

[2017-11-08 20:17] allenh1 commented on #270
I think it just needs to be regenerated -- let me get superflore to do that for you real quick.

[2017-11-08 21:06] allenh1 commented on #270
ok, should be good now.

[2017-11-08 21:06] #270 closed

[2017-11-08 21:13] allenh1 commented on #268
Fixed.

[2017-11-08 21:13] #268 closed

[2017-11-08 22:08] MalcolmMielle commented on #270
Yeah you were right ! Didn't realise it would be something like that. I'll try it before reporting next time :+1:

[2017-11-10 16:43] flabrosse commented on #93
Sorry about the delay, had to rebuild a few packages, then remove the whole of ROS as it was a mix of ros-lunar and ros-dev (I thought I had removed it all but it got rebuilt due to preserved libs).

It now all compiles.  Great!

[2017-11-10 17:47] allenh1 commented on #93
Oof. That's no fun. Been there, done that. ;)

That's wonderful news! Let me know if you hit any walls with anything else. As everyone seems to be compiling, I think I'm going to close this one for now. Feel free to reopen if needed.

[2017-11-10 17:47] #93 closed

[2017-11-13 19:38] flabrosse opened #278 "ROS without X"
All,

Trying to install ROS on a headless robot, so no point in installing GTK or X or cairo or...  Just emerging ros-base wants to install all that.  I have -X -gtk in my global use flag.

Any idea?

Fred

[2017-11-13 20:10] allenh1 commented on #278
Hm... I made an image for a raspberry pi 3 that was headless. I'm going to see what all is installed in that image and get back to you.

[2017-11-13 20:32] allenh1 commented on #278
One of the packages pulling these things in is `media-gfx/graphviz`, pulled in by `ros-kinetic/tf`.

[code]

This makes sense, due to the nodes within `tf` (unlike `tf2`, the `tf` nodes are all in the same library).

@tfoote How do you think this should be handled? I'm rather convinced that the `tf` package could be a special case in superflore (well, more so than it already is) and that there cou

[2017-11-13 21:30] flabrosse commented on #278
I'd be willing to help, but not right now!  For now I'll install as is and come back to it later (although given how "expensive" time is, I suspect I'll forget all about it as soon as installed!).

[2017-11-14 19:00] flabrosse opened #279 "gpsd_client does not emerge due to isnan not being declared"
All,

Trying to emerge ros-lunar/gpsd_client and that fails:

`[ 50%] Building CXX object CMakeFiles/gpsd_client.dir/src/client.cpp.o
/usr/bin/x86_64-pc-linux-gnu-g++ -DROSCONSOLE_BACKEND_LOG4CXX -DROS_PACKAGE_NAME=\"gpsd_client\" -I/opt/ros/lunar/include -I/opt/ros/lunar/share/xmlrpcpp/cmake/../../../include/xmlrpcpp   -DNDEBUG -march=native -mtune=native -O2 -pipe -std=c++11 -std=c++11   -o CMak

[2017-11-14 19:45] allenh1 commented on #279
Maybe a patch like [this one](https://github.com/ros/ros-overlay/blob/master/ros-kinetic/laser_filters/files/fix_isinf_isnan.patch) will suffice.

I'll try that when I get a few minutes.

[2017-11-15 11:54] flabrosse commented on #279
I guess that would.  Worth reporting that to ROS?

[2017-11-15 19:07] tfoote commented on #279
That's definitely worth reporting upstream. It's a trivial fix that should work on any platform. The newer gcc's are just stricter and require more explicit includes.

[2017-11-16 09:02] flabrosse commented on #279
Reported: [https://github.com/swri-robotics/gps_umd/issues/9](url)

[2017-11-21 21:06] MalcolmMielle opened #280 "GCC6 and emerging opencv3.3 fails"
I have an error emerging ros-lunar/opencv3.3 while using gcc6. This

[code]

It might be an old opencv error more than a ros one. I compiled the opencv master version from github by hand and it works so it seems that modification to handle gcc6 have already been made in the master branch. As the opencv from the main portage is also broken when trying to compile it with feature_2d, I wouldn't say t

[2017-11-22 04:42] allenh1 commented on #280
@MalcolmMielle Ya, my portage version of OpenCV has been failing for a while... I'm not quite sure what to do about this.

I'll look into this when I have a few.

[2017-11-22 10:49] MalcolmMielle commented on #280
I've been reporting bug to opencv but they just don't have enough manpower I guess :/

[2017-11-23 12:28] MalcolmMielle opened #282 "grid_map and lunar"
Any reason hat the grid_map package is not included in lunar but is in kinetic ? Is it because of ethz_asl hasn't officially ported the package to lunar ?

[2017-11-23 22:20] concavegit commented on #280
For a temporary fix (from #204), edit src_configure in the ebuild:
[code]

At least that is what worked for `ros-kinetic/opencv3`

[2017-11-24 00:51] allenh1 commented on #282
Yes, that's likely why. We don't automatically port packages forward, usually (unless it's critical). If you need that package in lunar, I'd suggest you ping the maintainter of the package.

[2017-11-27 19:23] flabrosse commented on #279
This has apparently been fixed.  When is a new package likely to be produced?

[2017-11-28 19:24] allenh1 commented on #282
Fixed by #285.

[2017-11-28 19:24] #282 closed

[2017-11-28 19:28] allenh1 commented on #279
The new package will be produced whenever they re-release the package. Superflore will pull it in automatically when the new version is added to rosdistro.

[2017-11-29 16:43] allenh1 commented on #279
@flabrosse If you want the package sooner, you can also try and add just the fix they made in their PR to the overlay. The patch can be found [here.](https://patch-diff.githubusercontent.com/raw/swri-robotics/gps_umd/pull/10.patch) I am working on documenting this kind of use case in Superflore at the moment, and some feedback there would be beyond useful! The proposed README is located [here.](ht

[2017-12-17 22:54] MalcolmMielle opened #295 "rosbag call for a python3 pickle"
Hej hej,

So invoking rosbag check uses a pickle protocol that does not work with python2 apparently. For now my ros install is entirely restricted to python2.7, but maybe this package shouldn't. So I'm leaving this here in case it's useful to know as a "bug" although it doesn't really feel like one :)

[code]

See [here](https://stackoverflow.com/questions/41920398/valueerror-unsupported-pickle-p

[2017-12-17 23:19] MalcolmMielle commented on #295
Ups easy solution is to not frget to build rosdep with python2.7 only too:

[code]

[2017-12-17 23:19] #295 closed

[2017-12-18 01:14] allenh1 commented on #295
@MalcolmMielle Ya, that's one solution. Another fix is to just clean up the `~/.ros/rosdep` folder.

This was discussed [here](https://github.com/ros-infrastructure/rosdep/issues/457) in the past.

[2017-12-19 16:39] flabrosse commented on #279
Coming back to that...  I'm pretty sure I have seen a new gpsd_client ubuntu package (on my laptop) since, but no gentoo package, and what I currently have (upgraded today) still does not compile.

So I looked at superflore.  Which gentoo package does "docker" refer to?  Is it app-emulation/docker?

[2017-12-19 16:52] allenh1 commented on #279
Interesting... I'll look into this.

Yes.

[2017-12-19 17:08] allenh1 commented on #279
@flabrosse update: I figured it out (as you can see in the PR referenced above).

Once superflore spits out the updates, I'll @-mention you in the PR.

[2017-12-20 16:18] flabrosse commented on #279
OK, installed it.  Thanks!

Just one point, I'm not sure if that is me (having to go through a proxy using an ssh tunnel) or a problem with file names, but I was struggling to find the tar.gz file using the ebuild.  I finally downloaded it by hand, put it in /usr/portage/distfiles guessing the correct name (from the empty file being created) and it then all worked.

[2017-12-20 20:29] allenh1 commented on #279
I'm going to venture out and say that you were having a proxy issue, since `superflore` downloads the tar when it generates the manifest.

@tfoote would probably know more about this.

[2017-12-20 23:32] tfoote commented on #279
That does sound like we're not catching the failure to fetch via a proxy appropriately if we're writing out an empty file. If you can document how to reproduce that issue it would be great to ticket it specifically.

[2018-01-04 15:42] MalcolmMielle opened #312 "Fail to update rosbag-storage"
I fail to update rosbag-storage with :

[code]

Looking at the latest version of the file [here](https://github.com/ros/ros_comm/blob/lunar-devel/tools/rosbag_storage/src/bz2_stream.cpp) it seems like the faulty line as been corrected already. What should I do about this :/ ?

[2018-01-04 19:10] allenh1 commented on #312
This is just a missing patch. I had to replicate it to open embedded recently.

You can either wait for me to patch it (might have time later today) or add the patches yourself and use Superflore to PR them to me (instructions for that process are in the Superflore readme).

[2018-01-04 23:24] allenh1 commented on #312
@MalcolmMielle I went ahead and added the patch. Fixed on my end. Please reopen if you need to!

[2018-01-04 23:24] #312 closed

[2018-01-05 09:25] MalcolmMielle commented on #312
I'm reopening since I have the same type of error for `geometric_shapes`:

[code]

Sorry I can't seem to get docker and thus superflore working on my machine right now :/

[2018-01-05 14:12] MalcolmMielle commented on #312
Should be solved by https://github.com/ros/ros-overlay/pull/322

[2018-01-05 15:06] MalcolmMielle opened #323 "Gazebo 7.8 fails to compile with tinyxml-2.6"
My machine upgraded to tinyxml-2.6 and gazebo 7.8 which is lunar version fails to compile:

[code]

[2018-01-05 16:10] allenh1 commented on #323
Ah, updating is fun. I'll get on this a bit later (I'll probably just bump the gazebo version).

[2018-01-05 16:13] MalcolmMielle commented on #323
It should work with gazebo8 when I looked at the code.
I was trying to make a patch because I assume a bump wouldn't work but maybe it does :)

[2018-01-07 16:28] allenh1 commented on #280
@MalcolmMielle Ok, I can now update the status of this.

![Works On My Machine!](https://user-images.githubusercontent.com/2013091/34651395-702a27d0-f395-11e7-8b98-dd5f00ed21a8.png)

Let me know if this doesn't work for you, and I'll reopen it.

[2018-01-07 16:28] #280 closed

[2018-01-07 19:20] MalcolmMielle commented on #280
I am on my branch using computer from source version of openCV :). I'll let you know if I switch to this at some point and it doesn't work :)

[2018-01-25 18:11] nathangeorge1 commented on #104
I need help with this too @archenroot

[2018-01-26 01:32] allenh1 commented on #104
@nathangeorge1 Can you please give me as much info as you possibly can? distro, last time you built things, etc?

[2018-01-26 14:31] nathangeorge1 commented on #104
Hello @allenh1,

I can't even open up my camera to view in image_view because the camera is dependent on OpenCV, and it is throwing the exact same bug.

It looks like this:
[code]

My distro is kinetic. If I look into `/opt/ros/kinetic/lib`, i see libopencv_core3.so, libopencv_core3.so.3.3, and libopencv_core3.so.3.3.1, but not what I need. I can build my repository and also the camera libraries j

[2018-01-26 14:56] allenh1 commented on #104
This looks like the kinetic version of #138. I'll Fix this. There's a temporary fix for you in that thread, in the meantime.

[2018-01-26 15:29] nathangeorge1 commented on #104
If you're referring to
` I had a few to investigate it now, and it seems that the libopencv_core*.so files end up in /opt/ros/lunar/lib64, and the image view files end up in /opt/ros/lunar/lib.`
I don't see /opt/ros/kinetic/lib64 on my local machine, only /opt/ros/kinetic/lib.

If you're referring to `emaint sync -r ros-overlay` I don't have "emaint" installed on my system and it appears to cost $

[2018-01-26 16:35] allenh1 commented on #104
`emaint` is a part of portage, actually.

[code]

As for the lack of kinetic directory... I'm not sure about that. I have the files installed in the directory for kinetic.

[code]

Are you confident you are using this overlay for installation? Can you please link to the instructions you used to install ROS on your machine? How up to date are your packages?

[2018-01-26 16:38] allenh1 commented on #104
Ah, I see. @nathangeorge1 are you running Gentoo Linux?

[2018-01-26 16:49] nathangeorge1 commented on #104
I don't know if I'm using ros-overlay, but this runtime error is coming from the repo "lovepark/o3d3xx-ros" (I referenced the issue to another guy also looking into this) which is using ROS to activate the camera.

I don't believe I'm using Gentoo; I should be using Ubuntu 16.04.

[2018-01-26 21:34] nathangeorge1 commented on #104
A local engineer from ROS helped me fix this issue. Basically, my camera was pulling the .so from /usr/lib; so I thought deleting the devel and build folders and redoing catkin_make would fix it, but what I forgot was that I manually copied files over to /usr/lib because the build tests were failing; so basically deleting those files and redoing catkin_make worked. Also, I didn't know that debian

[2018-01-27 01:12] allenh1 commented on #104
Ya, that would make sense then. This repository is for Gentoo Linux installations of ROS, so I'm afraid I don't know much about what could possibly be affecting the specific package you mentioned.

That's good to hear! Linker problems are always super fun to debug. Cheers!

[2018-02-10 11:40] flabrosse commented on #78
Interestingly enough, updating my box now and getting this issue.

empy:

`eix empy
[I] dev-python/empy
     Available versions:  3.3-r1 ~3.3.2 {doc PYTHON_TARGETS="pypy pypy3 python2_7 python3_4 python3_5 python3_6"}
     Installed versions:  3.3-r1(11:21:44 10/02/18)(-doc PYTHON_TARGETS="python2_7 -pypy")
     Homepage:            http://www.alcyone.com/software/empy/
     Description:         A

[2018-02-10 13:00] allenh1 commented on #78
It looks like you only have `EmPy` for Python 3, so I'd try and re-emerge it, double checking your python targets.

You wrap it in backticks '```[code]```'

[2018-02-10 13:18] flabrosse commented on #78
If the layout had not been messed up (see below), you would have been able to see that it is installed with the single 2.7 python target:

    Installed versions:  3.3-r1(11:21:44 10/02/18)(-doc PYTHON_TARGETS="python2_7 -pypy")

as I have for all my ros stuff.  In package.use I have:

    ros-*/* PYTHON_TARGETS: -* python2_7
    ros-*/* PYTHON_SINGLE_TARGET: -* python2_7

However I just spotted:

[2018-02-10 13:30] allenh1 commented on #78
My bad -- I didn't realize it wouldn't show up in my reply. Group 3 backticks to get the code to format. You can also do highlighting by putting a language next to the first pair of backticks.

[code]

[2018-02-10 13:31] allenh1 commented on #78
Since your python interpreter is python 3, you could try and eselect python 2. Otherwise, it's totally fine for empy to be python 3, as only CMake is going to use it.

[2018-02-10 15:31] flabrosse commented on #78
OK, had to install the unstable empy-3.3.2 as the stable 3.3-r1 only has python2_7 as a possible target.  And that now emerges fine.

Thanks for the help.

[2018-02-12 14:57] pholthau commented on #323
I have the same problem. Seems to be occurring with gazebo-8.1.1 too:

[code]

[2018-02-12 15:24] allenh1 commented on #323
Hm... I don't quite have the time to look at this issue right this moment, but I suspect it can be fixed pretty trivially. You can probably make a patch with the following.

[code]

But, since there are two error strings, I'm a bit concerned with this kind of fix. If someone can experiment, please let me know what happens.

[2018-02-12 15:26] pholthau commented on #323
Yep, I think so too. Thanks! Created a patch and it is compiling (8.1.1) right now. Will test 7.8.1 later.

[2018-02-12 15:44] allenh1 commented on #323
Glad to hear it. If it succeeds, please PR the patch!

[2018-02-12 17:17] pholthau commented on #323
What is your preferred style of publishing the patch? I personally have created a file
`/etc/portage/patches/sci-electronics/gazebo/gazebo-tinyxml2.patch` with the following content. I could also add it to the files directory, edit the ebuild and open up a pull request here if you prefer.

[code]

Please note that the patch semantically doesn't really make sense. The following is probably the "wan

[2018-02-12 17:19] pholthau commented on #323
The patch seems to fail in gazebo-7.8.1. Apparently, changing the EAPI from 6 to 5 helps, though.

[2018-02-12 20:42] allenh1 commented on #323
That would be very helpful! The first patch is the fix for now, I think. But, still, I'm not sure why we need either of these patches. It might be helpful for me to get the output of `equery uses tinyxml2` for both @pholthau and @MalcolmMielle (so I can cross-reference and compare with mine). I have not tried to build gazebo in a while, so maybe that'll be one of my tasks this afternoon.

That's v

[2018-02-13 09:45] pholthau commented on #323
They changed the way `epatch_user` works in EAPI 6, so it would be my best bet. EAPI is 5 in gazebo 8 still.

Okay, I'll do that today.

Here you go. Please note that tinyxml2 is at version 6 already and it's the only available version in portage currently.

[code]

[2018-02-23 10:11] pholthau opened #497 "ros-kinetic/rosbag_storage-1.12.13 fails to compile (during src_prepare/patch)"
Error snippet:
[code]

[0001-Use-CONSOLE_BRIDGE-prefix-for-logError.patch.out.txt](https://github.com/ros/ros-overlay/files/1751237/0001-Use-CONSOLE_BRIDGE-prefix-for-logError.patch.out.txt)

[2018-02-23 10:16] pholthau commented on #323
Seems to be fine now, thanks!

[2018-02-23 11:33] #323 closed

[2018-02-23 22:54] allenh1 commented on #497
Fixed:  e106e47d5d01aab2d16c0f586b39924e5067d14d

[2018-02-23 22:54] #497 closed

[2018-02-26 20:02] allenh1 opened #501 "dev-python/superflore Fails to emerge"
I'm adding an ebuild for [`superflore`](https://github.com/ros-infrastructure/superflore), but it's not quite working. I'll update the progress on this issue for visibility. Also, until ros-infrastructure/superflore#139 is merged, you'll need to add that patch.

[code]

[2018-02-26 20:36] allenh1 commented on #501
Current backtrace:

[code]

[2018-02-26 20:42] allenh1 commented on #501
To fix the above, you need to install pip.

[code]

So it looks like this is a `rosintall-generator` issue, as opposed to a `superflore` issue.

[2018-02-26 20:46] allenh1 commented on #501
Looks like you can see the issue here.

https://github.com/ros-infrastructure/rosinstall_generator/blob/ce4e6ec834d1c7238ebfaf7243d355bde3b5676e/setup.py#L11

[2018-02-26 21:24] allenh1 commented on #501
The above PR has been integrated into the overlay (as of df1379f8af541b23ea117d47b51ef0a9a5d5d0b3).

After the user patch is applied, things seem to be functional.

[2018-02-28 11:36] pholthau opened #509 "ros-kinetic/moveit_core-0.9.11 fails to compile: logging methods are not in scope"
## Example
[code]

build.log attached
[build.log.txt](https://github.com/ros/ros-overlay/files/1766894/build.log.txt)

[2018-02-28 11:39] pholthau opened #510 "ros-kinetic/ompl-1.2.1-r1 fails to compile: undefined references to lz4 methods"
## Example:
[code]
Attached build.log

[build.log.txt](https://github.com/ros/ros-overlay/files/1766902/build.log.txt)

[2018-02-28 16:46] allenh1 commented on #509
@pholthau Thanks for the fix! Yes, I'm very familiar with that `sed` command, actually.

https://github.com/ros/ros-overlay/blob/3152891873f0e608d3937c306acc66afe2c8bec4/ros-indigo/tf2/files/0001-Update-call-to-logError-and-logWarn.patch#L18-L19

This came from console bridge's latest release -- Gentoo has pushed the curve on it, and the ROS community has lagged behind a bit. If there's not alread

[2018-02-28 17:08] allenh1 commented on #510
I can't seem to reproduce this one...

[code]

I have the following `USE` flags enabled in `package.use`

[code]

and I have the following enabled globally.

[code]

I suspect this might be the missing `minizip` `USE` flag, but I'd try re-emerging `sci-libs/flann` first.

---

The `superflore-check-ebuilds` command spawns a clean, up-to-date docker container with the basis for ROS installed and th

[2018-03-02 09:21] pholthau commented on #510
Thanks for the hints. I'm currently trying the docker image.

I have the minizip flag enabled though.

[2018-03-02 09:45] pholthau commented on #510
[code]

Is there any way to see the output?

[2018-03-02 11:23] allenh1 commented on #510
Not yet, but there definitely should be. Originally, this feature was just for CI, but the CI doesn't run anymore since travis kept timing out. I think I'll work on that tomorrow.

[2018-03-05 18:50] allenh1 commented on #501
Everything is now merged, so this is no longer an issue. :tada:.

[2018-03-05 18:50] #501 closed

[2018-03-05 19:17] prfraanje opened #520 "ros-lunar/rosbag_storage-1.13.6::ros-overlay fails to apply patch"
I'm trying to install ros-lunar on my (new) gentoo linux system using  `emerge --ask ros-lunar/ros_base
` but get stuck at applying a patch for `rosbag_storage`. Maybe something goes wrong with environment, the build.log says:
/var/tmp/portage/ros-lunar/rosbag_storage-1.13.6/temp/environment: line 4203: cd: rosbag_storage-1.13.6: No such file or directory

I cannot find out what goes wrong, but no

[2018-03-05 19:56] allenh1 commented on #520
@prfraanje Thanks for the report! It seems that the patch just needs to be removed. I'll do so, then verify that the patches aren't blocking indigo or kinetic. Please don't hesitate to let me know if you find more!

[2018-03-05 19:59] allenh1 commented on #520
Better, you can even fix some of them yourself (should you feel so inclined!). For documentation purposes, I've shown the fix for this one below.

[code]

[2018-03-05 20:00] #520 closed

[2018-03-05 20:20] prfraanje commented on #520
Thanks! I've to learn some things like superflore, but will work on this.

[2018-03-05 20:32] allenh1 commented on #520
No problem at all! You don't _have_ to learn `superflore`, but I'm rather partial to it. You can install it with `emerge dev-python/superflore`.

[2018-03-07 03:40] allenh1 commented on #510
@pholthau Ok, I've implemented the logging support. You can try it on the branch `add-docker-output`.

Corresponding PR at ros-infrastructure/superflore#147.

[2018-03-08 09:17] pholthau commented on #509
All of moveit should be cleaned now. As long as this is not released, would you mind merging the patches? Or how do you proceed in such cases?

[2018-03-08 11:12] pholthau commented on #510
Thanks, Allen. Will explore that!
I noticed that on my system (and in the container) ``ros-kinetic/opencv3`` creates the folder ``/opt/ros/kinetic/lib6464`` and that causes some linking problems.

[2018-03-08 15:36] pholthau commented on #510
Okay, it builds now with superflore. But the error on my system remains.
[code]

[2018-03-09 08:31] pholthau opened #526 "emerge sci-libs/gazebo fails: missing ignition/math includes (OrientedBox.hh)"
It doeesn't matter if you have sci-libs/ignition-math from the overlay or gentoo main tree (which has a more recent 3.2 btw). A simple link fixes compilation. I think the (probably unusual) slotted installation in gentoo has to be treated specially.

[code]

[2018-03-09 08:41] pholthau commented on #104
#510 could be related. I am not quite sure if there should be

- ```/opt/ros/$ROS_DISTRO/lib``` **and**
- ```/opt/ros/$ROS_DISTRO/lib64``` **and**
- ```/opt/ros/$ROS_DISTRO/lib6464```.

[2018-03-09 09:54] pholthau commented on #510
It really seems that ```sci-libs/flann``` is to blame. Downgrading to ```sci-libs/flann-1.8.4-r1:0``` fixes compilation. What version do you have installed when checking with superflore? (or what command do you issue when doing superflore-check-ebuilds?)

[2018-03-11 21:02] #509 closed

[2018-03-12 22:56] danieldavidhammer commented on #526
Thanks for mentioning the fix. I could finally compile it

[2018-03-13 10:55] pholthau commented on #526
I wonder if an eselect module would be needed to set a sane default.

[2018-03-13 12:14] danieldavidhammer commented on #526
I don't use ignition-math separately from ROS, so I don't need it. I think fixing other things should get more priority.

[2018-03-19 17:25] allenh1 commented on #526
I think there are two approaches here: either a) patch the gazebo releases to map to the correct directory (which is likely going to explode with ever release) or b) add a `dosym` instruction for the ignition ebuild (though it probably won't get accepted upstream).

[2018-03-20 09:43] olofk opened #537 "ROS2 (Ardent) instructions"
Started out with the binary ROS2 release, but it seems like the lib/lib64 confusion in Gentoo makes it a bit cumbersome so I thought I'd switch to your overlay instead. I see there's a bunch of ros-ardent packages available. Very cool. I'm not sure however what to install as there is no ros_base equivalent for ardent.

Do you have any quick instructions for getting ardent going on Gentoo?

[2018-03-20 14:36] allenh1 commented on #537
This is true (as of ros-infrastructure/superflore#135), but the ebuilds are not _quite_ functioning. I have not been super successful in convincing distutils to behave. The adjustments to be made, however, are only to the two eclasses (should you want to play around with them). I plan on working on this more this week.

I actually used Gentoo for my ROS 2 work, so you can definitely get it going!

[2018-03-20 15:04] olofk commented on #537
Thanks for the quick reply. I got a bit further with the binary release by installing libpcre-debian and applying this dirty hack to `lib/python3.5/site-packages/ament_tools/build_types/ament_python.py`

         def _get_python_lib(self, context):
             path = get_python_lib(prefix=context.install_space)
    +        idx = path.find('64')
    +        if idx > 0:
    +            s = path

[2018-03-21 07:43] olofk commented on #537
So, before I install the ebuilds from your overlay, what do you mean with the ebuilds not being *quite* functioning? Do they work, if I just use your `mkdir` hack and special `ament` invocation. Also, from your command-line it looks like you have put a copy of amen_tools in your workspace directory. Are we supposed to do that instead of calling the system-installed version? Brand new to ROS so per

[2018-04-06 05:31] pygospa opened #560 "rosbridge_library missing"
Hey folks,
for my project I need Rosbridge running, which I cannot install due to missing dependencies. I've tried with both **lunar** and **kinetic** (I would actually really need it with **knietic**), but both have the same error message:

[code]

And when searching this repo, it seems like there is a number of dependencies on this package (rosapi, rosbridge_server, mqtt_bridge), that should fai

[2018-04-06 09:09] flabrosse opened #561 "gazebo and ignition-math: no MAX_D"
Doing an update at the moment, and emerge wants to update to gazebo-7.11.0.  This fails with

`Dem.cc:157:16: error: ‘MAX_D’ is not a member of ‘ignition::math’
   double min = ignition::math::MAX_D;`

ROS says that gazebo 7 needs to be compiled with ignition-math 2.4 ([http://gazebosim.org/tutorials?tut=install_dependencies_from_source](http://gazebosim.org/tutorials?tut=install_dependencies_from

[2018-04-06 21:32] allenh1 commented on #560
It looks like there's a rosdep key that needs to be resolved in order to generate that package.

[code]

We'll need to get `python-bson`resolved for Gentoo, then push it to the `ros/rosdistro` repo. Any idea what that rosdep key should be?

[2018-04-13 15:26] flabrosse commented on #526
I'm facing the same problem, except that in my case OrientBox.hh is indeed missing!  The correct location is searched for:

`cd /var/tmp/portage/sci-electronics/gazebo-7.11.0/work/gazebo-7.11.0_build/plugi
ns && /usr/bin/x86_64-pc-linux-gnu-g++ -DContainPlugin_EXPORTS -DHAVE_OPENGL -DL
IBBULLET_VERSION=2.83 -DLIBBULLET_VERSION_GT_282 -DQT_CORE_LIB -DQT_GUI_LIB -DQT_NO_DEBUG -DQT_XMLPATTERNS_LIB -D

[2018-04-17 15:58] pholthau opened #567 "transmission_interface ebuild not there due to license issues"
When trying to emerge for eample ```ros-kinetic/cob_gazebo_ros_control```, it complains about missing ```ros-kinetic/transmission_interface```. The folder is there containing ```metadata.xml``` but nothing else.

When trying superflore, it complains about a non-matchables license:
[code]
Same thing with ros-indigo. I also suspect (but didn't check) other packages to fail the same way.

[2018-04-17 19:15] allenh1 commented on #567
Ya, that is one I've not been able to match.

[code]

Those are the BSD licenses available. Looks like BSD 3 Clause license is what it should be. I'm not sure why they just wrote "Modified BSD" in the license field, but you might raise that with the maintainer.

I'm not really sure what to do about this, to be completely honest. I don't think I should generally map "Modified BSD" to anything. Lice

[2018-04-18 01:51] tfoote commented on #567
If it's modified you can't group it into a standard, because it's unknown how it's modified. It could be modified trivially. Or it could be modified to have a completely different meaning. I'd definitely suggest contacting the maintainer/author.

[2018-04-18 10:45] pholthau commented on #567
When looking at https://github.com/ros-controls/ros_control/blob/kinetic-devel/LICENSE
it seems be a pretty standard license, though.

See https://opensource.org/licenses/BSD-3-Clause

[2018-04-20 06:36] awesomebytes commented on #560
Working on it:
https://github.com/ros/ros-overlay/pull/574/files

&

https://github.com/ros/rosdistro/pull/17553

[2018-04-20 12:29] pholthau commented on #567
Upstream is currently fixing this. In the mean time, can I generate the package from a different branch somehow?

[2018-04-23 23:56] awesomebytes commented on #560
Both things merged, pending on doing a rosdistro sync.

[2018-04-24 08:44] pholthau commented on #567
Upstream has now fixed this in their ```kinetic-devel``` and ```melodic-devel``` branches. Any chance to create the package from these branches using superflore @allenh1?

[2018-04-25 11:38] nathangeorge1 commented on #104
hello @ptFraga,

Basically I was working with a package lovepark/o3d3xx-ros that wouldn't build correctly. I needed a certain opencv shared object file, but it wouldn't generate from the CMakeLists.txt. I believe the reason `catkin_make` wasn't working is because I manually tried to install (move files from the ROS package over to /opt/ros), which I think was preventing `catkin_make` from re-gener

[2018-04-25 19:45] ptFraga commented on #104
Hi,
I fixed it. My case was similar, I end up by forcing a reinstall of kinetic-opencv3 (normal install wasn't doing anything) and the packages went to the right place. thanks @nathangeorge1

[2018-04-26 04:56] awesomebytes commented on #567
+1

[2018-04-26 06:26] awesomebytes commented on #567
@pholthau A new release of ros_control is on it's way thanks to @bmagyar, when the rosdistro repo has the update merged the next superflore re-generation will put everything in place (hopefully).

Meanwhile I generated in a tricky way the ebuild and it's manifest in case it's useful for you too.

ros-overlay/ros-kinetic/transmission_interface/**transmission_interface-0.13.2.ebuild**
[code]

ros-ov

[2018-04-26 07:05] awesomebytes commented on #567
The PR is there https://github.com/ros/rosdistro/pull/17635 just a matter of time.

[2018-04-26 07:34] awesomebytes opened #581 "camera_calibration_parsers and boost_python"
I don't know what would be the approach here. In my Gentoo prefix I had emerged `dev-libs/boost`. But when I tried to emerge `ros-kinetic/camera_calibration_parsers` I got an error of not finding `boost_python`.

The full log of it emerging can be seen here: https://gist.github.com/awesomebytes/bb3bce149b16ea56488930ef242ad1fa

So... I tried with `emerge --ask dev-libs/boost[python]` which did ins

[2018-04-26 07:47] pholthau commented on #567
Perfect, thanks to all of you!

[2018-04-26 08:12] awesomebytes commented on #581
Just to test I changed the patch file: https://github.com/ros/ros-overlay/blob/master/ros-kinetic/camera_calibration_parsers/files/boost-python.patch

To not check for boost_python, just to see if it would compile. And it did!
[code]

So this is an error on finding the package via CMake. (Aside from... for some reason my Gentoo prefix didn't emerge the python part from boost).

[2018-04-26 08:28] awesomebytes opened #582 "ros-kinetic/image_transport_plugins not building on i686"
I'm still working on the tree of dependencies... but something in image_transport_plugins pulls `dev-ruby/json` which pulls `dev-util/ragel` which pulls `dev-util/colm`... which doesn't compile on 32bit platforms :(.

It's reported as a bug in Gentoo: https://bugs.gentoo.org/630580

The error:
[code]

[2018-04-26 08:34] awesomebytes commented on #582
Yeah it's:

`ros-kinetic/compressed_image_transport` --> `ros-kinetic/cv_bridge` --> `ros-kinetic/opencv3`... which pulls lots of things, and some of it gets what I wrote in the previous comment.

I'll try to contact the author about it, maybe he has a couple of minutes to try.

[2018-04-26 10:40] pholthau opened #584 "ros-kinetic/control_toolbox fails to compile due to erroneous python executable"
Error:
[code]

Apparently, the file cfg/Parameters.cfg ends up having ```/usr/bin/ros-python-kinetic``` as an interpreter during build which does not exist. In upstream's repository, the file seems to be okay though with having ```/usr/bin/env python``` instead:

https://github.com/ros-controls/control_toolbox/blob/kinetic-devel/cfg/Parameters.cfg

Complete build.log: https://paste.pound-python.or

[2018-04-26 12:52] awesomebytes commented on #581
Well, meanwhile I created:

`~/gentoo/etc/portage/patches/ros-kinetic/camera_calibration_parsers-1.11.13/0001-Dirty-hack-to-move-forward-boost-python-is-installed.patch`
[code]

(Just learned this patches folder technique, they are applied after the ebuild patches).

[2018-04-26 12:58] awesomebytes commented on #560
All ready @pygospa :)

[2018-04-26 13:23] awesomebytes opened #585 "async_web_server_cpp needs regeneration"
Got:
[code]

Locally I regenerated the Manifest and then it worked.

[2018-04-26 14:59] allenh1 commented on #585
Ya, for that one you just need to regenerate that one package in Superflore. I'll do it when I'm back at my desk.

[2018-04-26 15:41] #585 closed

[2018-04-26 15:48] allenh1 commented on #582
While that patch is definitely what ugly looks like, I don't see much that can be avoided in this case. I'll look at the upstream code, try to figure out what's breaking things (because a more proper fix would make me feel comfortable). After that, I'll add the patch to the overlay and try and send it to the gentoo people.

:laughing:

[2018-04-26 15:55] #584 closed

[2018-04-27 03:43] awesomebytes commented on #582
Useful links:

* Official colm mailing list thread about the bug (June 2017): http://www.colm.net/pipermail/colm-users/2017-June/000173.html
* Gentoo bug tracker about it: https://bugs.gentoo.org/630580
* Redhat bug tracker about almost it (different line, same assert): https://bugzilla.redhat.com/show_bug.cgi?id=1402582

I sent an email to the list (trying to follow up the already existing thread

[2018-04-27 19:09] allenh1 commented on #582
@awesomebytes we might just make that the only version the ebuild uses -- would you mind making a PR into ros/rosdistro again for me?

[2018-04-27 19:16] allenh1 commented on #567
@pholthau so is this ready to be closed?

you are very welcome! Always happy to get these things working.

[2018-04-27 21:13] pholthau commented on #567
@allenh1 Upstream has released 0.13.3 which contains the fixes. As that will probably be picked up by rosdistro, this issue can be closed.

[2018-04-27 21:13] #567 closed

[2018-04-28 04:47] awesomebytes opened #591 "sci-libs/flann not building with cmake 3.11 (workaround found)"
There is a bug filed in gentoo: https://bugs.gentoo.org/652594

That points to the issue in the flann repo: https://github.com/mariusmuja/flann/issues/369

And there is a patch to workaround it until upstream fixes it, can be added like:

[code]

[2018-04-28 05:48] awesomebytes commented on #582
Can we force a specific version? the dependency would look like `dev-util/ragel-6.10` instead of `dev-util/ragel` then?

[2018-04-28 05:49] awesomebytes commented on #582
Actually, ragel is not in rosdistro. I don't know how to enforce this.

[2018-04-28 06:22] awesomebytes opened #592 "ros-kinetic/opencv3 needs to depend on dev-qt/qttest and dev-qt/qtconcurrent to build"
Otherwise it causes:

[code]

[2018-04-28 06:25] awesomebytes commented on #582
The discussion with the actual author & maintainer of the package is moving: http://www.colm.net/pipermail/colm-users/2018-April/000189.html

[2018-04-28 06:51] awesomebytes commented on #582
I found out opencv3 not building as shown in: https://github.com/ros/ros-overlay/issues/592

And then I also found cv_bridge not building with the same CMake error of not finding `boost_python`. I workarounded it again like in https://github.com/ros/ros-overlay/issues/581:

`~/gentoo/etc/portage/patches/ros-kinetic/cv_bridge-1.12.8/0001-Hack-to-make-it-compile.patch`
[code]

[2018-04-28 07:01] awesomebytes commented on #582
I've seen there is `boost-1.66.0` now... I could give a try to re-emerge eeeeverything. I don't see any change in the ebuild that makes me think this will be fixed in any way... but if I have time I'll try.

[2018-04-28 10:55] awesomebytes opened #593 "ros-kinetic/ros_numpy not building if tests are not enabled by default"
Which... for me they aren't so it just fails.

Already sent a patch upstream: https://github.com/eric-wieser/ros_numpy/pull/7

Meanwhile a local patch:
`~/gentoo/etc/portage/patches/ros-kinetic/ros_numpy-0.0.2`
[code]

[2018-04-28 11:25] awesomebytes commented on #560
@allenh1 I've tried to regenerate `rosbridge_library` too and it fails:

[code]

As you can see here: https://github.com/ros/rosdistro/blob/master/rosdep/python.yaml#L499

The dependency from `rosbridge_library` is `python-bson` as you can see here https://github.com/RobotWebTools/rosbridge_suite/blob/develop/rosbridge_library/package.xml#L28 which should get resolved to the `dev-python/pymongo` G

[2018-04-28 16:57] awesomebytes commented on #560
Ok, I needed to do rosdep update on the machine that ran superflore, lesson learnt. So, yeah, rosbridge_suite is ready! (after merging https://github.com/ros/ros-overlay/pull/596#event-1600194962 )

[2018-04-28 20:42] #593 closed

[2018-04-30 05:47] awesomebytes commented on #581
Note that this happens to `cv_bridge` also (and probably to any package trying to `find_package` boost_python).

I found a discussion about it here: https://gitlab.kitware.com/cmake/cmake/merge_requests/35

And a workaround here:
https://forums.gentoo.org/viewtopic-t-948188-start-0.html

So... otherwise a workaround is:

[code]

So no package will complain again... it goes against Gentoo's slot th

[2018-05-03 00:40] awesomebytes opened #602 "rosdep not emerging"
I guess needs to be re-generated.

[code]

[2018-05-03 00:46] awesomebytes commented on #602
I'm trying to recreate the `Manifest` but it also says mismatch with the checksum.

[2018-05-03 03:29] awesomebytes opened #604 "catkin fails to emerge on Gentoo Prefix"
Output:
[code]

[2018-05-03 04:52] awesomebytes commented on #604
Forgot to mention that setuptools in Gentoo doesn't have the option `--install-layout` as that options is added by Debian in a patch.

[2018-05-04 19:03] #604 closed

[2018-05-05 01:48] allenh1 commented on #560
Can this be closed?

[2018-05-05 09:43] awesomebytes opened #607 "image_view does not build, cant find GTK2 on Gentoo Prefix"
If using
[code]

It finds it...

The first warning:
[code]
And then I get:

[code]

@allenh1  this lib64 thing may be familiar to you?

[2018-05-07 07:41] #602 closed

[2018-05-07 18:30] allenh1 commented on #607
@awesomebytes It appears to be using the wrong (well, on Gentoo at least) include directory. I'll patch it up right away.

[2018-05-10 10:59] pygospa commented on #560
Tested it with the tutorial, everything seems to work fine. Thank you very much! :+1:

[2018-05-10 10:59] #560 closed

[2018-05-18 09:06] flabrosse commented on #561
Any news on that?  Am I the only one having that issue?  What can I try?  I have just updated and I still have the same issue.

Cheers,

Fred

[2018-06-13 16:33] fcolecumberri opened #633 "Unknown CMake command "catkin_run_tests_target""
when I try to do `sudo emerge =ros-kinetic/joystick_drivers-1.12.0` and the system is building `ros-kinetic/wiimote-1.12.0` I get the error
[code]
the `emerge --info '=ros-kinetic/wiimote-1.12.0::ros-overlay'` display:

[code]

[2018-07-04 21:42] concavegit opened #642 "Support python 3.6"
I notice that all of the ROS 1 packages support python2.7 and python 3.5. Is it be okay to add python 3.6 to PYTHON_COMPAT?

[2018-07-05 15:59] allenh1 commented on #642
I don't see why not. You'll need to modify [a line](https://github.com/ros-infrastructure/superflore/blob/master/superflore/generators/ebuild/ebuild.py#L143) in `superflore`, first.

After you have done that, you can regenerate whichever packages you want to add 3.6 support to with `superflore-gen-ebuilds --only [pkg]`. I'll be happy to merge any PR's that you do this way!

Cheers!

[2018-07-05 18:34] allenh1 commented on #642
OK, so if you `emerge superflore`, you should be able to bump any package you'd like (at this moment in time, `dev-python/superflore` is just linked to the master branch of the git repo).

[2018-07-05 18:36] concavegit commented on #642
All right. I will do that later in the day, my laptop is not connected to a charger right now.

[2018-07-05 18:36] #642 closed

[2018-07-05 18:37] allenh1 commented on #642
Sounds good to me. Thanks again!

[2018-07-06 09:46] concavegit opened #644 "catkin_make does not generate compile_commands.json"
Running `catkin_make -DCMAKE_EXPORT_COMPILE_COMMANDS=1` does not generate compile_commands.json in `catkin_ws/build`.

Some things I observed when comparing to the ubuntu version which may help pin down the cause:
- `compile_commands.json` is successfully created when making a vanilla c++ project, tested with a hello_world.cpp and a corresponding CMakeLists.txt.

- Sourcing `/opt/ros/melodic/setup

[2018-07-06 15:38] concavegit commented on #644
Can anyone reproduce this?

[2018-07-06 15:44] allenh1 commented on #644
@concavegit it is highly recommended that you avoid using the `ros-meta` installation, since it's not maintained here (and usually causes things in the environment to get messed up). I'd recommend you remove all ros-meta packages if you want to use the overlay installation.

I'm not able to check that right now, but I can later today.

Also, you can try it out in the docker container.

[code]

Be

[2018-07-06 15:45] allenh1 commented on #644
@nuclearsandwich do you have any advice here?

[2018-07-06 16:21] concavegit commented on #644
Using the container, emerging ros-melodic/catkin, and following the reproduction steps the problem persists,  Also, it turns out that creating a dummy project is not necessary to the compile_commands being generated in ubuntu.

[2018-07-06 18:43] allenh1 commented on #644
I forgot to address this: this could be cause by not having `test` set in your `USE` flags. Maybe experimenting some there will help! If not, I'll look into this in a bit.

[2018-07-06 22:21] concavegit commented on #644
The `test` USE flag is handled internally by portage, so I am not sure how to set it.

[2018-07-07 04:07] concavegit commented on #644
Turns out that the compile_commands.json in ubuntu was generated due to gtest. Since gentoo does not create the gtest directory, there is no compile_commands.json. Adding other things such as message files to a project on gentoo successfully generated a compile_commands.json.

[2018-07-07 04:07] #644 closed

[2018-07-19 10:09] flabrosse opened #652 "gazebo-7 and qwt-6: non-existing USE flag"
qwt-6, required for gazebo-7, required for ros-lunar, has dropped the qt5 USE flag.  emerge complains about this:

[code]

[2018-07-19 11:33] allenh1 commented on #652
Hmm.... That's certainly a problem!

Would you mind doing a PR to replace/remove that `USE` flag from the ebuild?

[2018-07-19 12:01] flabrosse commented on #652
Assuming PR means private repo, I have just done that and it now does not complain about this.

This however highlights an interesting problem.  Gazebo-7 wants qt4, which has recently been masked.  That and all the other problems I've been having with compiling gazebo-7 (see other issues), makes me say that I'm going to give up on gazebo on gentoo...

Time ROS upgrades its integration to recent ve

[2018-07-19 12:21] allenh1 commented on #652
I actually meant pull request.

Maybe we should look into Gazebo 8? I also need to make a Gazebo 9 ebuild. I'm rather behind with Gazebo...

Don't give you just yet!

[2018-07-19 14:46] flabrosse commented on #652
Pull request?  I still have to learn how to use git!...

Problem with gazebo 8 or 9 is that ROS still wants to use 7.

[2018-07-19 14:59] allenh1 commented on #652
No worries. On your fork you should see "Pull Request" somewhere. After you've got some fixes, just click that button to get them merged in here.

That's very version-dependent. Kinetic is running 7, I believe Lunar is running 7, and melodic runs 9 (see [here](http://gazebosim.org/tutorials?tut=ros_wrapper_versions#UsingthedefaultGazeboversionforaROSdistribution) for more).

You can, however, try

[2018-07-19 15:32] flabrosse commented on #652
I don't fork, I just use layman to get the overlay (maybe it does that behind the scene, I don't know).

So far I've been using Lunar, but for a current project with an external organisation we may well have to revert to kinetic.  I don't think melodic is even being considered by them.  We'll see.

[2018-07-30 16:59] flabrosse commented on #78
Interestingly enough, I am now having exactly the same problem as before but with kdl_parser-1.12.11.  I have empy-3.3.2 installed.  Is the solution still to create a symlink by hand?

[2018-07-30 18:19] allenh1 commented on #78
That's odd... It has been "working" for me for a while. I don't have the symlink anymore, at least. Can I get a bit more info?

[code]

Seems to be building in the docker container. Can we get the output?

[2018-07-31 07:49] flabrosse commented on #78
Here's the log:

[code]

[2018-07-31 07:53] flabrosse commented on #78
I may well just have found what the problem was.  Just realised it is using python 3.6 but I'm in the process of removing python versions (and was moving to 3.6 when I discovered that gentoo went back to 3.5).  Clearly there is some dependency not quite working somewhere.  I'll come back after finishing the upgrade.

[2018-09-12 13:16] pholthau commented on #581
I always thought the correct fix would be that `CMakeLists.txt` explicitly requests a specific python version, i.e.:

[code]

Then again, I don't know how to support that in gentoo. Any thoughts?

[2018-09-12 13:58] pholthau opened #678 "qt:4 dependencies in ros-kinetic (and others)"
qt:4 is not in the main tree anymore. How is the general way of handling this?

These are the relevant packages (without indogo):
[code]

[2018-09-12 14:11] allenh1 commented on #678
Hm... That's rather inconvenient, isn't it! I think there are two routes we could go here:

 1. Patch the Qt4 out of those packages
 2. Add Qt4 ebuilds to _this_ tree

I think a mix of those would be appropriate. For the time being, I think the fix is 2, then slowly do 1.

@tfoote do you have an opinion on this?

[2018-09-12 16:33] pholthau commented on #678
I just checked http://gpo.zugaina.org if there are old qt packages in overlays. `qtcore` seems to be in some, but `qtxmlpatterns`, for example, it not anywhere.

[2018-09-12 18:13] allenh1 commented on #678
Do you know, roughly, when they were removed from the gentoo tree?

[2018-09-12 18:17] allenh1 commented on #678
I imagine ROS indigo is rather hurt by this.

[2018-09-13 07:50] pholthau commented on #678
Indeed. And I cannot imagine replacing qt4 dependencies there - hence I left out indigo packages from the above list.

[2018-09-13 07:50] pholthau commented on #678
Found the commit: 2018-08-07 19:37:32 +0200
https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=67bb098696b2cc4c0c4b826cebc53aca9ae624df

[2018-10-01 09:59] allenh1 commented on #652
Fixed by #684

[2018-10-01 09:59] #652 closed

[2018-10-03 10:55] CrawlerSpider opened #686 "std_msgs-0.5.11 needs >=dev-python/catkin_pkg-0.3.9"
Hi to all,

as i tried to install ros-melodic/std_msgs-0.5.11 and i got an error due to lower version of dev-python/catkin_pkg-0.3.9.

Updating to dev-python/catkin_pkg-0.4.8 solved the problem

Regards

[2018-10-03 11:54] allenh1 commented on #686
`dev-python/catkin_pkg-0.3.9` was actually removed from this overlay not long ago -- I think it's currently `0.4.6`, but will version bump to the latest in a bit.

Thanks for letting me know.

Also, did you accept the unstable keyword for your architecture? Otherwise, portage won't pull in updates from this repo.

[2018-10-03 11:59] CrawlerSpider opened #687 "missing ebuild for ros-bouncy/connext_cmake_module"
Hi,

as i tried to build: emerge -va ros-bouncy/desktop

I got:
    merge: there are no ebuilds to satisfy "ros-bouncy/connext_cmake_module".
    (dependency required by "ros-bouncy/rosidl_typesupport_connext_c-0.5.3::ros-overlay" [ebuild])
    (dependency required by "ros-bouncy/rosidl_typesupport_c-0.5.0-r2::ros-overlay" [ebuild])
    (dependency required by "ros-bouncy/rosidl_default_runtime-0.

[2018-10-03 15:53] allenh1 commented on #687
@CrawlerSpider this is not all that surprising. I need to clarify this in the README for the repo, I think.

The state of ROS 2 on Gentoo is very much not working yet. Though there are ebuilds generating, they are not all generating (that one, specifically, due to the fact that the rosdep keys are not yet implemented for one of its dependencies).

[code]

would be the command to generate that pack

[2018-10-03 16:53] CrawlerSpider commented on #687
@allenh1 i did what you suggested
`superflore-gen-ebuilds --only connext_cmake_module --ros-distro bouncy`

but unfortently i get the following error:

    Traceback (most recent call last):
      File "/usr/lib/python-exec/python3.6/superflore-gen-ebuilds", line 6, in <module>
        from pkg_resources import load_entry_point
      File "/usr/lib64/python3.6/site-packages/pkg_resources/__init__.

[2018-10-03 23:52] vmatare commented on #93
This thing is still haunting us. Not sure whether the problem actually lies with FindBoost.cmake or with the way the boost_python libs are installed in Gentoo. Anyways, the corresponding Gentoo bug is here: [https://bugs.gentoo.org/660980](https://bugs.gentoo.org/660980)

[2018-10-04 15:40] flabrosse commented on #93
Fresh gentoo (and ROS melodic) install.  I have the problem.

[2018-10-04 22:37] allenh1 commented on #687
[code]

This tells  me that something wants for `argparse` to be pip-installed. Not sure why this is the case.

Does this fix it?
[code]

[2018-10-04 22:40] allenh1 commented on #678
@pholthau thanks!

That's certainly better than roughly! If we add these to the tree, we should be good.

[2018-10-05 01:14] allenh1 commented on #687
@CrawlerSpider this is what I get:

[code]

[2018-10-05 01:34] allenh1 commented on #687
@CrawlerSpider I've got a patch into `catkin_pkg` referenced above. You can apply it locally by doing the following.

[code]

Then create a file `/etc/portage/patches/dev-python/catkin_pkg-0.4.8/0001-Remove-argparse-dependency.patch` with the following contents.

[code]

Next, just re-emerge `dev-python/catkin_pkg` and the user patch should be pulled in.

[2018-10-07 19:51] CrawlerSpider commented on #687
Ok, things worked, but an ebuild to connext_cmake_module was not generated... could you confirm that superflore-gen-ebuilds does not generate it?

[2018-10-07 19:59] allenh1 commented on #687
@CrawlerSpider that's correct. It won't generate it until that rosdep key is satisfied.

Glad to know you got it working, though.

[2018-10-23 11:54] im-Kitsch commented on #295
@allenh1  But if I  clean up rosdep folder, I still nedd to do $rosdep update, then the probelm comes again.

[2018-10-23 12:16] allenh1 commented on #295
If you clean the rosdep folder and do a `rosdep update` with the python version you will be using, then a should be fine.

With ROS 1 I still strongly recommend only doing Python 2, since much of ROS 1 has not yet been moved to Python 3, and, although it may install, it likely won't function (one such important package is `tf` -- though `tf` has been deprecated for several years now).

[2018-10-25 10:29] flabrosse opened #696 "Patching of ros-melodic/cartographer fails"
Trying to install cartographer and the patching fails.  This is patch /var/t
mp/portage/ros-melodic/cartographer-1.0.0/files/0002-Explicitly-link-gmock-and-g
test.patch, which is there.

It tries with -p0 ("can't find file to patch at input line 14"), -p1 ("checking file CMakeLists.txt \n Hunk #1 FAILED at 183."), -p2, -p3 and -p4 ( all with "can't find file to patch at input line 14").

I guess t

[2018-10-25 18:19] allenh1 commented on #696
@flabrosse my bad! Accidentally closed it on you.

This is almost for sure what happened. Would you mind fixing the patch for me? If not, I can fix it in the near future.

[2018-10-26 10:40] flabrosse commented on #696
spqr-1.3.1 emerges fine.

ceres-solver needs to be emegred with sparse (and lapack) USE flags.

The patch works.  cartographer_ros now emerged.

[2018-10-26 12:31] allenh1 commented on #696
Hm... Ok, would you mind adding that `USE` flag to the appropriate `rosdep` in the ros/rosdistro repo?

Great! Let me know if you get it working. I was having trouble with it when I last tried (kept getting a `std::bad_alloc` exception), but that is probably some weirdness on my system's configuration.

[2018-10-26 13:00] flabrosse commented on #696
I have never used git and so have no idea how to add the USE flags in the repo (and at the moment life is too short to learn git).  I'm also not sure where the USE flags need to be added.

I ran the first of the two demos given at the bottom of [https://google-cartographer-ros.readthedocs.io/en/latest/](https://google-cartographer-ros.readthedocs.io/en/latest/) and that worked fine, after emerging

[2018-10-26 13:40] allenh1 commented on #696
Alright, I don't mind doing it then. ;) I'll tag you in the PR so you can see the process.

Great!

[2018-10-26 13:48] allenh1 commented on #696
Once ros/rosdistro#19354 is merged, I'll swap your patch in and regenerate the packages.

Thanks!

[2018-10-30 16:04] #696 closed

[2018-11-09 05:30] CrawlerSpider opened #702 "Not all ros-melodic packages have python 3.6 support"
I was wunderring why not all ros-melodic packages support python 3.6
For instance:
[ebuild   R    ] ros-melodic/position_controllers-0.14.2::ros-overlay  USE="-test" PYTHON_TARGETS="python2_7 python3_6 -python3_5" 0 KiB
[ebuild   R    ] ros-melodic/diagnostic_aggregator-1.9.3::ros-overlay  USE="-test" PYTHON_TARGETS="python2_7 -python3_5" 0 KiB

from the package.xml of each ROS package there is in

[2018-11-14 14:59] pholthau commented on #591
I think the patch you mentioned is already in the main tree now:
https://github.com/gentoo/gentoo/blob/master/sci-libs/flann/flann-1.9.1-r1.ebuild

Actually, I needed some more patches to be applied, if compilation with cuda is needed, cf:
https://github.com/pholthau/gentoo-patches/tree/master/sci-libs/flann-1.9.1-r1

[2018-11-15 00:18] allenh1 commented on #702
Fixed

[2018-11-15 00:18] #702 closed

[2018-11-15 17:42] pholthau commented on #591
@allenh1 yeah I know this is a gentoo base package. I just wanted to give a heads up to @awesomebytes and mabye others as I stumbled across this just yesterday and saw this issue. The repository I linked is actually symlinked to `/etc/portage/patches` during updates on one of my systems.

[2018-11-20 16:32] TheLurps commented on #678
pushed pr for your second route @allenh1

[2018-11-21 09:16] pholthau opened #708 "ignition-transport:3 dependency missing"
In the main tree, there is only version `4.0.0-r1`, see
https://packages.gentoo.org/packages/sci-libs/ignition-math

[code]

[2018-12-03 21:49] pholthau opened #711 "rostime, sensor_msgs, geometry_msgs and others fail to build because of -lpthread (or cpp_common?)"
Hi,

I am experiencing strange build errors with various packages on a computer on which I try to install fresh ROS (both kinetic and melodic). Thanks for your help and please tell me what further information you need.

Output for rostime as a reference:
[code]

[2018-12-04 23:48] allenh1 commented on #711
Hey, not sure what's causing this issue.

[code]

Currently building in the docker container & on my machine... Maybe rebuild `cpp_common`?

[2018-12-05 00:02] pholthau commented on #711
I'm not sure either. A rebuild of `cpp_common` did not help. The system itself has been set up quite a long time ago. Will report back after a system rebuild (`--emptytree`).

[2018-12-06 00:05] pholthau commented on #711
The problem is related to the new `cmake` version and will be fixed with newer `catkin`, see https://github.com/ros/catkin/pull/975
For now, it helped to downgrade to `dev-util/cmake-3.13.1` and re-emerge `cpp_common`. I leave the bug open for reference, maybe we want to create a patch (see `catkin` PR) in the meantime?

[2018-12-06 02:08] awesomebytes commented on #711
I'm finding the same problem (in Gentoo Prefix, amd64 & x86).

I needed to downgrade **from** `dev-util/cmake-3.13.1` adding `package.mask`  rule for `>=dev-util/cmake-3.13.0` (I also tried `>=dev-util/cmake-3.13.1` but that wasn't enough). And re-emerging `ros-kinetic/cpp_common` then `ros-kinetic/rostime` worked.

And by the looks of the issue https://github.com/ros/catkin/issues/856 where they

[2018-12-06 04:55] awesomebytes opened #715 "geometry_msgs not building, error: No module named genpy"
The error:
[code]
When emerging `ros-kinetic/ros_base`. It happens cause it's trying to generate messages in Python 2.7 and Python 3.6.

I think we need to warn in the wiki directly [Installation Gentoo](http://wiki.ros.org/kinetic/Installation/Gentoo) about the specific fix that is needed:

[code]

(Also opening this issue so it appears in searches).

[2018-12-06 05:48] awesomebytes commented on #708
I ran into the same issue.

I'm testing if changing the dependency of `sci-electronics/gazebo-7.11.0` to just `net-libs/ignition-transport` (and adding a bunchload of package.use rules that I'm triggered to add) works.

Note that I'm on Gentoo Prefix and I keep finding issues with packages not prepared for prefix, so it may take a while until I know if this approach works.

[2018-12-06 08:14] pholthau commented on #711
Sorry, that's exactly what I meant. However, `ros-kinetic/pluginlib` for example still doesn't compile. I guess I need to rebuild some other dependency for that to work, too.

Great, thank you. I will test it later today!

[2018-12-06 09:01] pholthau commented on #708
I tried it with `net-libs/ignition-transport-4.0.0-r1` without success (no prefix). I added the dependencies to my personal overlay but the package still fails with a different (ffmpeg or so related) error message, so I don't know whether this fixes the issue:

https://github.com/pholthau/pholthaus-overlay/tree/master/net-libs

[2018-12-06 09:09] pholthau commented on #678
I guess this can be closed now. Dependencies seem to work

[2018-12-06 09:09] #678 closed

[2018-12-06 11:57] awesomebytes commented on #708
I'm stuck with this bug: https://bugs.gentoo.org/672602

So I can't go further and check if what I proposed works.

[2018-12-06 11:59] awesomebytes commented on #715
(Closed but related: https://github.com/ros/ros-overlay/issues/230 )

[2018-12-06 14:17] allenh1 commented on #715
Great -- thanks! Can this be closed then?

[2018-12-06 15:19] awesomebytes commented on #715
Yeah. Well, I haven't updated the Melodic instructions (as I also haven't setup CI for it to know it works). But the main point was for you to see it and agree.

[2018-12-06 15:19] #715 closed

[2018-12-06 15:23] awesomebytes commented on #711
If pluginlib is part of ros_base I can tell you it works (as I setup CI that emerges all ros_base on Gentoo Prefix amd64 and x86 and it currently contains that patch until it's officially merged).

[2018-12-06 16:05] pholthau commented on #711
Great, I can confirm your patch works (applied from /etc/portage/patches) at least  for the packages mentioned here. Thank you!

[2018-12-06 22:06] pholthau commented on #711
I still run into trouble with `ros-kinetic/qt_gui_core` although I have the patch applied **and** `dev-util/cmake-3.12.3:0` installed. Can anyone reproduce this?

[code]

[2018-12-07 07:56] pholthau commented on #711
The following steps finally got me around this issue:
* Apply your patch (which is in the overlay now, I guess)
* Mask `>dev-util/cmake-3.12.3` and downgrade it to this version
* Rebuild everything from the overlay: `emerge -av1 $(equery a -F '=$cpv' repository ros-overlay)`
* `emerge ros-kinetic/desktop_full`

[2018-12-08 12:03] pholthau commented on #708
Thanks for merging, @allenh1!

[2018-12-08 12:03] #708 closed

[2018-12-10 08:19] CrawlerSpider commented on #581
I get the following error:

I got the same

 * Package:    ros-melodic/camera_calibration_parsers-1.11.13
 * Repository: ros-overlay
 * Maintainer: hunter@openrobotics.org
 * Upstream:   jack.oquin@gmail.com https://github.com/ros-gbp/image_common/issues
 * USE:        amd64 elibc_glibc kernel_linux python_targets_python2_7 userland_GNU
 * FEATURES:   preserve-libs sandbox userpriv usersandbox

cm

[2018-12-10 11:35] awesomebytes commented on #582
This is an old issue.  `dev-util/colm` was fixed after providing the author a machine that could reproduce the problem. The following issues may arise again, but are a different issue anyways.

[2018-12-10 11:35] #582 closed

[2018-12-10 14:32] allenh1 commented on #581
@crawlerspider what does `equery uses boost` show for you?

[2018-12-10 19:32] CrawlerSpider commented on #581
The output of `equery uses boost`:

    [ Legend : U - final flag setting for installation]
    [        : I - package is installed with flag     ]
    [ Colors : set, unset                             ]
     * Found these USE flags for dev-libs/boost-1.65.0:
     U I
     - - context                  : Build and install the Boost.Context (and Boost.Fiber) library and all other Boost libraries tha

[2018-12-11 22:08] allenh1 opened #722 "Gazebo 9.4.1 not emerging"
Well, those few days of Gazebo 9 being available were nice...

[code]

Seems to be an ogre API change. I'll try to patch this later tonight.

---

Additional info:
 * OGRE version: 1.10.12

[2018-12-11 22:18] allenh1 commented on #722
Looks like we just need to take the `.getPointer` calls and change them to `.get()`, then take the `isNull` calls and just use the user-defined bool conversion operator for `std::shared_ptr`.

[2018-12-12 00:04] allenh1 commented on #722
[code]

These are some useful macros for others -- my full patches will be up soon, I hope. Note: this was not a trivial change.

[2018-12-12 00:04] allenh1 commented on #722
@tfoote Should I upstream these patches once I have things in a working state?

[2018-12-12 01:32] awesomebytes commented on #581
I just fell into this again. What's reported in this issue worked to go thru. Copied here for commodity.

[code]

[2018-12-12 01:33] tfoote commented on #722
Are you bumping up to ogre 2? I believe there's already patches toward that support already @iche033 can you point to the best place to contribute any changes for ogre version support?

[2018-12-12 02:14] allenh1 commented on #722
No, I'm bumping to 1.10.

Btw, very impressed by how quickly gazebo 9.4.1 starts. Really nice improvements there!

[2018-12-12 07:07] awesomebytes opened #723 "ros-kinetic/rviz-1.12.16 fails to build (Ogre related 'has no member named')"
I just got into:
[code]

Maybe related to https://github.com/ros/ros-overlay/issues/722 ?

[2018-12-12 07:49] awesomebytes commented on #723
This looks interesting: https://github.com/ros-visualization/rviz/pull/1242

Even tho I don't think the problem really comes from there... `Ogre::DataStreamPtr` should have a `bind` method: https://ogrecave.github.io/ogre/api/1.10/class_ogre_1_1_shared_ptr.html

[2018-12-12 08:05] awesomebytes commented on #723
Oh, just found out about bind:

I'd expect a deprecation warning not an error on compiling... After doing that substitution in the code, the next errors are:

[code]

[2018-12-12 08:52] awesomebytes commented on #723
I kept drilling it and made a patch that successfully compiles Rviz:

https://gist.github.com/awesomebytes/c1ba75ec3329aa63d768320b43743e70

(I applied it by hand and it worked, now I'm trying emerging ros-kinetic/rviz with it in $EPREFIX/etc/portage/patches/ros-kinetic/rviz).

Note that for Gentoo Prefix I also needed to do before emerging:
[code]
It's needed cause SIP (which makes wrappers for p

[2018-12-12 08:57] awesomebytes commented on #723
The actual error of SIP:

[code]

Apparently $PATH is ignored when doing emerge, uhm.

[2018-12-12 14:32] awesomebytes opened #724 "rviz_plugin_tutorials-0.10.3 fails to compile (more Ogre stuff)"
While emerging `ros-kinetic/desktop` (after successfully emerging rviz with the stuff in https://github.com/ros/ros-overlay/issues/723):

[code]

So more of the same.

[2018-12-12 14:37] awesomebytes commented on #724
Patch for it: https://gist.github.com/awesomebytes/b1cc1490045a568b68dcd618629de405

[2018-12-12 15:18] awesomebytes commented on #711
I just reproduced this. I needed to downgrade cmake as you said @pholthau . Then re-emerge all the used packages in qt_gui_cpp and it worked. Whenever I finish the full desktop emerge I'll setup CI for it.

[2018-12-12 15:37] allenh1 commented on #724
@awesomebytes This patch works for people with OGRE > 1.9, but would break the existing behavior for those using <= 1.9.

[code]

This is what I've been applying to Gazebo (still not done btw), and this seems to work pretty well whilst preserving existing code.

[2018-12-12 15:51] allenh1 commented on #722
Ok, FINALLY done patching. It was a really, really, not fun time.

https://gist.github.com/allenh1/43883e92e92c1c83a532e4bd6952b2fb#file-gazebo-9-4-1-ogre-1-10-support-patch

[2018-12-12 15:52] #722 closed

[2018-12-12 15:54] allenh1 commented on #722
Also note: this does not resolve deprecation warnings.

[2018-12-13 00:13] awesomebytes commented on #711
@pholthau @allenh1 have you been able to emerge `dev-qt/qtwebkit-5.212.0_pre20180120`? It is a dependency for `ros-kinetic/desktop` and I'm finding no way to get it to compile...

I'm in a loop of ruby failing, adding rubygems, still failing, breaking the ruby setup, changing with eselect the version of ruby but not doing any difference...

The main error I get is:
[code]
Which I get with ruby 23,

[2018-12-13 00:43] iche033 commented on #722
we actually don't have any plans on making gazebo work with ogre 2.x. The work I'm doing is for the ignition projects.

On the other hand, It would be nice for this patch to make it back into gazebo

[2018-12-13 03:03] allenh1 commented on #722
Absolutely! I know gazebo is mercurial so we can't just `git -am` these, but I'd be more than happy to get these upstreamed however you'd like for me to. Let me know!

[2018-12-13 03:05] allenh1 commented on #711
No idea... That's likely a 32bit problem or a prefix problem though. I definitely have some version of qtwebkit, just not sure which.

[2018-12-13 08:33] awesomebytes commented on #711
@allenh1 It's happening on amd64 and x86 on Prefix. I'm re-building with some updates... I hope to have a reproducible docker environment soon if anyone can help at that point.

[2018-12-13 10:12] awesomebytes opened #725 "qt_gui_cpp must depend on dev-qt/qtwidgets"
Depending on the order how `ros-kinetic/desktop` emerges packages I found myself trying to emerge `ros-kinetic/qt_gui_cpp` failing cause of:

[code]

Which was solved doing:
[code]

And trying again.

This happens cause `qt_gui_cpp` has a dependency on `qtbase5-dev` which for Ubuntu & friends pulls qtwidgets. But not for Gentoo.

My proposal is to add to rosdistro also `dev-qt/qtwidgets` on the ke

[2018-12-13 11:14] awesomebytes commented on #725
And then I ran again into: https://github.com/ros/ros-overlay/issues/592

Hmmm that seems like a problem from `opencv3` not depending on `libqt5-concurrent`.

And `qttest` is part of `qtbase5-dev` in Ubuntu too.

# Proposed solution
So I'd propose to add to the key `qtbase5-dev` in rosdistro `dev-qt/widgets` and `dev-qt/qttest`.

And then propose for the `package.xml` of `opencv3` to add `libqt5-c

[2018-12-13 11:20] allenh1 commented on #725
Sounds good to me

[2018-12-13 11:35] awesomebytes opened #726 "ros-kinetic/opencv fails with error: OgreApplicationContext.h: No such file or directory"
Error:

[code]

[2018-12-13 11:47] awesomebytes commented on #726
By what I'm seeing, the official docs mention the file https://ogrecave.github.io/ogre/api/1.10/_ogre_application_context_8h.html

But
[code]
returns nothing. And I see a lot of .h (and other packages compile)... suspicious.

[2018-12-13 12:21] awesomebytes commented on #726
It worked!
[code]
Did the trick to emerge `ros-kinetic/opencv3`.

Uhm, @allenh1 how do we approach this for anyone to be able to just emerge `ros-kinetic/desktop`?

[2018-12-14 04:37] awesomebytes commented on #723
Unfortunately once built we get a Runtime Error (adding all output on running it):
[code]
If we check on v 1.10.12:
https://github.com/OGRECave/ogre/blob/v1.10.12/OgreMain/src/OgreSceneManager.cpp#L953-L972

There is effectively that check. And checking Rviz code:

[code]
No single name given. If I check the OGRE code for 1.9.1 (which runs on my current ubuntu 16.04 box), the same function does no

[2018-12-14 04:57] awesomebytes commented on #723
That seemed to overcome that problem... for a very short time.
Now I got a segmentation fault, here in gdb with the backtrace:
[code]

[2018-12-14 05:12] awesomebytes commented on #723
Oops ignore my last comment. I forgot to re-compile rviz.

Now, observe this beauty:

![screenshot from 2018-12-14 16-11-33](https://user-images.githubusercontent.com/1721716/49984174-f8ebc100-ffba-11e8-98ab-f80726a9d7b1.png)

It works!

[2018-12-14 05:32] awesomebytes commented on #723
@allenh1  How do we approach this?

Right now I'm just doing:
[code]
In my docker image. Which is far from elegant. Where do we patch ogre for this? Do we bring it into `ros-overlay`? Do we ask the maintainers to add a USE flag?

[2018-12-14 06:46] awesomebytes opened #729 "rqt python stuff needs dev-python/PyQt5[gui,widgets]"
Trying to use `rqt` I came up with this error:
[code]

This seems to be cause the (python) rosdistro key `python-qt5-bindings` points in gentoo to `dev-qt/PyQt5` which is not sufficient as rqt-python tools need the additional [gui, widgets] USE flag (It's funny that the in Gentoo PyQt5 would seem to be sufficient for someone... given it provides 0 functionality without the extra USE flags).

I als

[2018-12-14 07:14] awesomebytes commented on #729
Yeah, that fixes launching `rqt` and a bunch of plugins.

Proof:
![screenshot from 2018-12-14 18-13-16](https://user-images.githubusercontent.com/1721716/49988744-065d7700-ffcc-11e8-88d7-6fec494516a6.png)

@allenh1 Solution proposed: Add to `python-qt5-bindings` rosdistro key `dev-python/PyQt5[gui,widgets]` instead of the same without the USE flags. Do you agree?

[2018-12-14 09:00] awesomebytes commented on #729
I've checked and in [rosdistro](https://github.com/ros/rosdistro/blob/master/rosdep/base.yaml) there is no gentoo key with USE flags as [USEflag]... maybe it's not possible? I don't know how to deal with this.

[2018-12-14 09:08] awesomebytes commented on #725
Created a PR with it: https://github.com/ros/rosdistro/pull/19728

[2018-12-14 10:40] awesomebytes commented on #729
@tfoote Do you have any suggestion on what to do here to pull the necessary dependencies on Gentoo?

[2018-12-14 12:56] awesomebytes commented on #278
@flabrosse Just a heads up of a unforeseen use-case of having X compiled in a headless robot. You can open via `ssh -X` graphical windows that open on your machine. I've found this useful from machines that lacked the installed packages/messages to interact correctly with a robot.

[2018-12-14 17:45] allenh1 commented on #729
@awesomebytes see an example [here](https://github.com/ros/rosdistro/blob/5b3b76778a4a1b698048ab5834bd4b800804d208/rosdep/base.yaml#L385) of the USE flags in the bracket syntax.

That change would resolve this. Please also add `boost[python]` (I thought this was in there, apparently it isn't).

[2018-12-14 17:50] allenh1 commented on #723
I'm not sure... I didn't have to do any of that, actually. This could be a prefix thing. It works just fine as-is with my patch for it. Is this with or without that, btw?

[2018-12-15 00:14] awesomebytes commented on #729
PR created for python-qt5-bindings: https://github.com/ros/rosdistro/pull/19737

[2018-12-15 00:57] iche033 commented on #722
Just clone the repo, branch out of `gazebo9`, and apply your patch using good old `patch` command.

One thing to note is that almost all the changes in the patch could be applied to the `gazebo9` release branch but the `depthTexture` variable type change in DepthCamera.hh may break ABI. I believe you should be able to keep the `depthTexture` untouched in the .hh file but in the .cpp file where the

[2018-12-15 01:03] allenh1 commented on #722
Sure thing! I'll get on that at some point this weekend.

[2018-12-15 01:16] awesomebytes commented on #724
Made a patch with your style preserving compilation in both versions:

https://gist.github.com/awesomebytes/b18a18caa62b66c773580baf11c08d10

[2018-12-17 15:45] awesomebytes commented on #607
Hello, I'm the phantom from the past, and here I come again with the same error haha:
[code]

But it's there (as the last time):
[code]

[2018-12-17 16:04] allenh1 commented on #607
@awesomebytes the issue here is that normal distros don't install gtk this way.

I'd try patching the `CMakeLists.txt` file to add

[code]

[2018-12-17 16:34] awesomebytes commented on #607
Made a patch: https://gist.github.com/awesomebytes/8371eaefc0513fd538e08b14748cc814

Workarounding locally with:
[code]

And it builds. I'll need to have a different patch for x86 tho as it's not lib64 but just lib there...

[2018-12-17 16:45] allenh1 commented on #607
@awesomebytes that's definitely true!

I'd do something like that suggested [here](http://cmake.3232098.n2.nabble.com/Detecting-32-64-bit-systems-tp6019142p6024700.html).

[code]

[2018-12-17 17:00] awesomebytes commented on #607
So... After that I do an If-else with 4 and 8 as values to either do one thing or the other? Hmmm ok, but it looks pretty ugly. Wouldn't it be better to check some `uname -m` thing? I think CMake has some variables with it already ready to use.

[2018-12-17 17:48] awesomebytes commented on #722
@allenh1 @pholthau You closed this, is it supposed to emerge? Cause for me it blocks on `sci-libs/ignition-math-6.0.0` with:

[code]
Which effectively is trying to patch a file that does not exist. I tried removing that custom bit of the ebuild (thinking it maybe is not necessary anymore), but no luck:

[code]

[2018-12-17 19:35] pholthau commented on #722
I can't speak of gazebo 9, because I only use 7 (which I think is a hard dependency of kinetic). But gazebo 7 should build now? The dependency should be in the overlay now as the PR had been merged but I see it disappeared again. Apparently, it has been deleted in https://github.com/ros/ros-overlay/commit/28b4e3e4be86ec508df6d4c354752b2a267e4d2c @allenh1

[2018-12-17 19:41] pholthau commented on #711
I have it installed with the following configuration:
[code]

ruby as follows ``/etc/portage/make.conf``:
[code]

[code]
Hope that helps. I'm remerging right now. Will report back if it fails, otherwise just assume it compiles fine.

[2018-12-18 01:54] awesomebytes commented on #711
@pholthau I ended up adding a `package.provided` for `dev-qt/qtwebkit-5.212.0_pre20180120`. My ruby packages seem to be broken and I can't find a way to make them work. I need to reproduce it and ask for help in Gentoo.

[2018-12-18 11:24] awesomebytes commented on #278
@flabrosse I don't know who's triggering `xemacs` but I just double checked an installation (over Gentoo Prefix) of `ros-kinetic/ros_base`, and then one on `ros-kinetic/desktop` and none of them have xemacs installed. Maybe the package that contains the `rosed` command depends on 'any' editor, and that's falling back to xemacs in your machine?

[2018-12-18 14:18] awesomebytes commented on #729
The PR has been merged, closing

[2018-12-18 14:18] #729 closed

[2018-12-19 01:31] awesomebytes commented on #725
The PR has been merged. But I gave another check to the opencv3 issue. The thing is. I can't really ask the opencv3 package to depend on any Qt thing as Qt support is optional.  This is again just happening cause Gentoo by default on Qt provides nothing so you need to add all those USE flags or extra qt packages explicitly. @allenh1 Can we patch for ourselves-only the ebuild to add that dependency

[2018-12-19 01:32] awesomebytes commented on #724
Merged, closing, thank you!

[2018-12-19 01:32] #724 closed

[2018-12-19 08:19] awesomebytes opened #733 "Build any gazebo version?"
Hey, kind of a follow up from the discussion in https://github.com/ros/ros-overlay/issues/722 but on its own post.

I've been trying to emerge **any** version of Gazebo, and I can't manage any.

(Ignoring the amount of hacks I needed to do to get ruby to stop complaining, most probably cause of `app-text/ronn` being a dependency of Gazebo to build docs, which I ended just adding to `package.provid

[2018-12-19 15:00] allenh1 commented on #725
It will do it when I regenerate the ebuild.

[code]

[2018-12-19 15:10] flabrosse opened #736 "Python version (I think) problems"
We have ROS running on several of our computers and robots.  Two of the robots have lunar on.  Following an update, one of them refuses to work (for example, I can't run roscore).  The initial problem was a syntax error in yaml, indicating that the wrong python interpreter was used with the wrong files, according to google.

I compared the non-working install with the working install and noticed t

[2018-12-19 16:10] awesomebytes commented on #736
I have not managed to have ROS deal in a friendly manner with Python > 2.7, but I do have python 2.7 and 3.6 living together.

This is what I do (taken from @allenh1 Docker files):
[code]
The argparse thing is cause you are trying to run catkin_make or similar with python3 and it is not supported as far as I know.

[2018-12-19 17:15] flabrosse commented on #736
I have something very similar to that, also coming from the same source ;-).  I have also added ros specific python packages with the same constraint.

Yes, I do agree that the argparse problem is from running catkin with 3.5, but I am not.  Catkin is running with 2.7 and despite having selected to use python 2.7 (and 3.5 and 3.6 as fallback) it seems to be looking for argparse with 3.5.  The comp

[2018-12-20 09:32] awesomebytes commented on #736
I'd say check your PYTHON_PACKAGE_PATH env car to be sure it's not pointing
to something py3.

Also check the catkin related packages for py3 shebangs.

If nothing interesting comes up, start adding prints on the way to that
catkin_make call (in the script that does catkin_make and follow down the
rabbit hole). I've had some similar issue and it was because of the python
path. Then  because of the

[2018-12-20 10:08] flabrosse commented on #736
@awesomebytes this is a good pointer!  I don't have a PYTHON_PACKAGE_PATH env var, but do have a PYTHONPATH, that contains python3.5 directories.  This is set by _setup_util.py: in my devel directory.  I edited it to replace 3.5 with 2.7 and now PYTHONPATH only contains mentions of 2.7.  So far, seems promising.

However, running catkin_make gives me almost the same error as above, replacing 3_5 w

[2018-12-20 11:16] awesomebytes commented on #736
You installed catkin with Python 3.6 Target still enabled and that  wrote
that setup file and it messed up your PYTHONPATH For any script. I did the
same once.

I'd recommend re-emerging  anything related to catkin, and if you can, ROS.
Making sure there are no py3 targets set for any of them.

If you check the Dockerfiles from my project:

https://github.com/awesomebytes/ros_overlay_on_gentoo_pre

[2018-12-20 11:50] flabrosse commented on #736
catkin and catkin_pkg are installed with only 2.7 support:
[code]
Installing ros_base is what I did with all ros packages and all python-dev required by ros-lunar packages with only python2.7 allowed:
[code]
And the python trace only refers to 2.7 now.  My environment only refers to python2.7 (in PYTHONPATH).

I just created a new catkin_ws, starting from scratch. Same problem.

[2018-12-20 11:50] flabrosse commented on #736
BTW, I do appreciate all these suggestions!  Thanks for helping!

[2018-12-20 11:57] awesomebytes commented on #736
Oh man, that is hard. I'd grep the hell out of the filesystem for Python3
references.

Try the lib/python2.7 folders, both Gentoo and ROS overlay. Any combination
you can think of python2.7, python2... If it's an option... Even uninstall
python3? (I don't know if that would break your installation).

On Thu, Dec 20, 2018, 22:50 flabrosse <notifications@github.com wrote:

[2018-12-20 13:58] allenh1 commented on #736
Re-emerge your `catkin_pkg`. It is out of date. This is because the `setup.py` for `catkin_pkg` lists `argparse` as a module dependency, and you don't have it since it has been a part of the language since Python 2.7.

[2018-12-20 13:59] allenh1 commented on #736
See ros-infrastructure/catkin_pkg#239

[2018-12-20 19:17] flabrosse commented on #736
I'm pretty sure I had the last version of catkin_pkg at some point and went back to that one because the more recent ones are not in the overlay so I thought this could create conflicts.  Unfortunately this will have to wait until next year now.  I'll report back.

[2018-12-20 22:59] allenh1 commented on #723
You're gonna laugh. I sourced the wrong ROS workspace -___-

I'm going to add an ebuild for that version of OGRE to the ROS-Overlay in a moment. I'm adding a `USE` flag for it, naming it `legacy-node-storage`.

I'm also assuming you meant to write `-DOGRE_NODE_STORAGE_LEGACY=yes`.

[2018-12-20 23:15] allenh1 commented on #723
[code]

@awesomebytes just add

[code]

to your `/etc/portage/package.use` file and emerge `dev-games/ogre::ros-overlay`.

[2018-12-21 03:46] allenh1 opened #743 "OSRF car_demo"
I can't seem to get the [OSRF car demo](https://github.com/osrf/car_demo) to run.

the first wall: Getting `nvidia-docker` installed. This I _think_ I did by creating a binary installer for it: `sci-libs/nvidia-docker-bin` which puts the debian files in the right spot (presumably).

I then start the plugin server.

[code]

Next, I tried to run the demo and got the following output.

[code]

This l

[2018-12-21 03:48] allenh1 commented on #743
This is the output from the `nvidia-docker-plugin` side:

[code]

[2018-12-21 03:51] awesomebytes commented on #743
I don't know what is that demo, but related to Nvidia docker running stuff
with X I can copy paste what I wrote some time ago (and use for some ROS +
Deep learning images):

The major tricks we needed to figure out are in these commands when running
a docker container:

xhost +local:root;
nvidia-docker run --net host --privileged -v $HOME:/shared -e
DISPLAY=$DISPLAY -e LD_LIBRARY_PATH=/usr/local/l

[2019-01-02 18:32] tfoote commented on #743
The first flag that I see is that it can't open the X display. awesomebytes references a bunch of things that need to be mounted through for X and nvidia. I have just put together a tool for running nvidia docker things at: https://github.com/tfoote/rocker which works under ubuntu so should provide a good jumping off point.

[2019-01-02 19:05] allenh1 commented on #743
@tfoote nice work! This looks super useful! I'll definitely play with this some later.

[2019-01-05 09:22] paoloach opened #748 "ros-crystal/connext_cmake_module missing"
Hi,

the package ros-crystal/connext_cmake_module is missing and it prevent to emerge a lot of ros-crystal packages

[2019-01-07 08:22] zpzp307 commented on #104
@ptFraga How do you fix this problem? thank you !

[2019-01-07 16:06] flabrosse commented on #736
I tried that:
[code]
and get
[code]
So now all python2.7 being used, and still the problem.

[2019-01-09 15:06] flabrosse commented on #736
Solved!  Following thread #99 I looked at the patches each of the packages use.  catkin_pkg-0.4.9 does **not** use the argparse patch.  catkin_pkg-0.4.8 does.  I down-graded to that and it now works.

[2019-01-09 23:18] ptFraga commented on #104
Hi,

`sudo apt install --reinstall ros-kinetic-opencv3`

did the trick for me

[2019-01-17 06:36] jwhendy commented on #711
Just wanted to confirm that this affects Arch linux as well. In a recent effort to install ros-melodic-ros-base, I found I needed to downgrade to cmake 3.12.3-1 as well as boost/boost-libs 1.68.0-2 on various packages. I think it's more than just this package, but the fix was the same. Cross-posting to ROS Answers post [here](https://answers.ros.org/question/311753/cannot-install-ros-melodic-rosti

[2019-01-23 11:54] awesomebytes opened #756 "run superflore on ros-kinetic/naoqi_libqicore please?"
Hello @allenh1 I still don't have a working machine where to run superflore stuff... unfortunately.

I quickly explored using Docker-in-Docker to stop this annoyance but I couldn't find a quick tutorial on how to get it running.

I need `naoqi_libqicore` refreshed cause it can't be emerged right now with the error:
[code]
But it would be good to just do all the pack I think:
[code]

Thank you!

[2019-01-24 02:40] awesomebytes commented on #756
Just got the same on: `ros-kinetic/sbpl`

[2019-02-08 16:34] r7vme commented on #104
For me the problem was that `LD_LIBRARY_PATH` did not contain `/opt/ros/kinetic/lib/x86_64-linux-gnu`

So if you run container with just `docker run` you also want
[code]

[2019-03-17 10:49] CrawlerSpider opened #773 "compile ros-melodic/qwt_dependency-1.1.0 failed"
I get the error below when i try to compile the package ros-melodic/qwt_dependency-1.1.0:
`!!! Fetched file: qwt_dependency-melodic-release-1.1.0.tar.gz VERIFY FAILED!
!!! Reason: Failed on BLAKE2B verification
!!! Got:      bd58e0a642170c7325cdc4495273668ea82871d854d0734d68c4a0297eda50b0cfe10a29f2dcab4c0732c37abc86992fdf76690fed26143864f5d34606cf0328
!!! Expected: bbc47df278026ba5a463f1a01a670668

[2019-03-24 09:47] 0novanta opened #775 "Cmake doesn't find boost libraries | cv_bridge"
I'm trying to install ROS Kinetic from source [from here](http://wiki.ros.org/Installation/Source).

After running this command `./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release` the execution goes on until processing cv_bridge package where it stops due to this error:
[code]
This is the CMakeLists.txt file (~/ros_catkin_ws/src/vision_opencv/cv_bridge):
[code]
And I think

[2019-03-24 10:10] 0novanta commented on #775
Solved by downloading boost-static: `sudo dnf install boost-static`

[2019-03-24 10:12] #775 closed

[2019-03-24 10:14] 0novanta opened #776 "cv_bridge fail to process"
I'm running Fedora 29.

When it processes cv_bridge package it stops with the following error:
[code]
I have no idea what to do. Thanks in advance!

[2019-03-24 12:34] allenh1 commented on #776
@0novanta are you running Gentoo? It looks like redhat from the logs there...

[2019-03-24 12:46] 0novanta commented on #776
@allenh1 sorry I thought I edited the issue, I'm running Fedora 29.
However I've managed to install ROS Kinetic following [this guide](http://wiki.ros.org/docker/Tutorials/Docker#Installing_Docker) but I don't know if it's the same thing or if I need more passages to make ROS Kinetic runnable.
However I'd still like to know how to solve the issue above because I'd prefer to install it from source

[2019-03-25 18:29] flabrosse commented on #736
And now the only two versions available of catkin_pkg are 0.4.9 and 0.4.10, neither of which uses the argparse patch.  Given how unreliable is the install with anything else than python 2.7, I had to only build for python 2.7, only to now face this problem.
Is there a solution?

[2019-03-26 11:28] 0novanta commented on #776
Solved.
Solution:
downloading library boost-python2-devel, in Fedora: `sudo dnf install boost-pyhton2-devel`.
Then going to CMakeCache.txt in cv_bridge directory (or the package-that-fails's directory) look for libboost_python.a (as in `/usr/bin/ld: /usr/lib/gcc/x86_64-redhat-linux/8/../../../../lib64/libboost_python.a(from_python.o): relocation R_X86_64_PC32 against symbol `PyExc_TypeError' can n

[2019-03-26 11:28] #776 closed

[2019-03-26 11:52] allenh1 commented on #776
@0novanta glad to know you got through it!

In the future, this repository is for Gentoo Linux installations. I don't mind when people come in with other-distro problems (for source building), but like to mark it clearly as such so that future visitors are clear about it.

Cheers!

[2019-04-16 17:58] daniel-be opened #787 "genmsg-0.5.11.ebuild: checksum failure"
While trying to emerge ros-kinetic/ros_base I am getting a checksum failure:

[code]

[2019-04-17 01:02] allenh1 commented on #787
Well that's no fun. I've gone ahead and regenerated the ebuild in #788.

[code]

Looks like you should be good now. Please re-open this issue if it's still not working after an `emaint sync -r ros-overaly`.

[2019-04-17 01:02] #787 closed

[2019-04-22 16:53] DevonMorris commented on #773
I saw this error today while installing melodic as well. Changing the Manifest file in `/usr/local/portage/ros-melodic/qwt_dependency` helped me install it. But honestly, I'm not sure if that was the correct thing to do.

[2019-04-22 17:04] allenh1 commented on #773
@DevonMorris looks like I forgot to fix this one!

You can do so pretty quickly by just running this:

[code]

(Or just wait for me to get around to it since it isn't blocking you)

[2019-04-22 20:28] allenh1 commented on #773
@DevonMorris thanks for reminding me, @CrawlerSpider thanks for reporting!

[code]

Looks like it should definitely be working now.

[2019-04-22 20:28] #773 closed

[2019-04-22 20:30] allenh1 commented on #756
@awesomebytes is this still needed? I'm more than happy to do so

[2019-04-23 16:51] flabrosse opened #793 "mrpt emerge fails due to howMany()"
Trying to emerge mrpt and it fails with

[code]

in matrix_adaptors.h

Any idea?

[2019-04-23 17:18] allenh1 commented on #793
Could you run `superflore-check-ebuilds` on the package and store the log files locally, then upload them for me to review? I'm not sure to which package you are referring, nor which distro you are running.

If you can give me that info, I'll be better able to diagnose and (hopefully) supply a patch.

[2019-05-15 17:46] flabrosse commented on #278
Here's another one.  I'm trying to install ros-lunar/compressed_image_transport and that wants ros-lunar/opencv3 (OK) which wants vtk (why?) which wants qt5 (and a large chunk of qt at that), despite the offscreen use flag.  Why?

PS Using a 100 odd days old tree, sorry if this has been fixed.

[2019-05-15 21:14] allenh1 commented on #278
I think that's mostly due to the way the `package.xml` files work. There's no way (at least that I know of) that allows the developer to mark a particular dependency as optional. @dirk-thomas / @tfoote  / @nuclearsandwich has this sort of feature been considered for the `package.xml` format?

I think that such a feature might be over complicating things, though. Maybe the play here is to restructu

[2019-05-16 07:59] flabrosse commented on #278
Is it a linking dependency or only a tools dependency, if you see what I mean?  Could there be a opencv3-graphical-tools package that only contains these graphical tools of opencv that would therefore be an addition to a opencv3-base package?

[2019-05-16 12:36] flabrosse commented on #104
I just spent 2 hours trying to understand why image_transport was claiming that compressed transport plugins were not there when they were.  On lunar, opencv3 installs in /opt/ros/lunar/lib6464 (yes, not a typo) (with a 107 days old sync).  Copying everything in /opt/ros/lunar/lib works fine.

[2019-05-16 21:14] dirk-thomas commented on #278
See https://answers.ros.org/question/202852/packagexml-provides/

[2019-05-20 23:20] tfoote commented on #278
There's not much that we can do since opencv does not support a more granular installation as we rely on the upstream packaged version of opencv and their core version has the gui elements enabled. On most other systems you still incur the cost of installing the graphical libraries but then don't use them so it only costs you disk space.

We don't have plans to redistrubute or repackage opencv. I

[2019-05-25 22:23] concavegit commented on #581
Since I struggled with getting boost_python to be detected with `ros-melodic/camera_calibration_parsers`, this seems like the most appropriate place to drop this patch which fixed my issue::

[code]

I would pull request this, but I am not sure about the generality of this patch.

[2019-06-17 11:21] flabrosse opened #809 "Unsafe load(), gentoo bug"
Trying to run some ROS stuff on my gentoo desktop (have not done that in a while) and I now get:

[code]
The file mentioned there is fine (and works fine on ubuntu).  I think it is not invalid YAML, I think it just refers to something using load() instead of safe_load().  Google returns a few similar issues and replacing the call to load() seems the solution.  I have no idea where that call is mad

[2019-07-05 10:32] flabrosse commented on #736
Just for info, catkin_pkg-0.4.12 seems to work.

[2019-07-06 05:10] paoloach opened #812 "ros-dashing missing packet"
Hi,

the packet
 ros-dashing/rosidl_typesupport_connext_cpp
is missing but it is required by ros-dashing/rosidl_typesupport_cpp-0.7.1-r1

thanks,
Paolo

[2019-07-08 13:38] allenh1 commented on #812
@paoloach that's likely due to missing dependencies. Unfortunately, I have not yet had time to get the ament eclass working for ROS 2 (due to the many differences between ament and catkin).

I also need to introduce some logic into superflore to allow these different typesupport settings as USE flags.

I'd be super grateful for any help with the eclass, if you have time! Otherwise, I'd suggest bui

[2019-07-08 14:16] paoloach commented on #812
Hi Allen,

unfortunately I never play with eclass and so I can't be useful.

Anyway, thank a lot for your works.

Paolo

Il giorno lun 8 lug 2019 alle ore 15:38 Hunter L. Allen <
notifications@github.com> ha scritto:

[2019-07-09 15:29] allenh1 commented on #736
That's great news! I'll update  the core ebuilds later today (I haven't done that in a good while).

[2019-07-09 15:37] flabrosse commented on #736
Before you do an update, it might be worth noting that since gentoo changed profiles to 17.1, I have not been able to compile any of the ros packages.  I get:

```No rule to make target '/usr/lib/libpython2.7.so'```

the reason being that libpython2.7.so is now in /usr/lib64.  I haven't yet found a solution to that.

And it's not just python that is looked for in the wrong place.  My own packages

[2019-07-09 18:26] allenh1 commented on #736
I'll try changing the docker image to use a newer profile and we'll see what happens then. Thanks for the note.

[2019-07-28 04:32] tenspd137 commented on #581
The patch is not correct.  To find python using CMake, it should be python36, python35, python34, not python-3.6 etc....

[2019-07-28 04:35] tenspd137 commented on #581
The patch is correct, but for some reason it is not yet out in the overlay....

[2019-07-29 13:20] allenh1 commented on #581
This is precisely my concern. I don't think it's less general than what was already there, however, so I'm open to a PR with it if someone wants to do so.

[2019-08-21 09:40] flabrosse opened #834 "Building with profile 17.1"
I mentioned this problem in issue #736 but this seems a larger problem (or I am doing something very wrong...).  So here it is with its own issue.

Since changing to a gentoo profile 17.1 where lib64 and lib32 libraries are dealt with differently, most ROS packages won't emerge.

The one I'm currently failing on is actionlib:
```make[2]: *** No rule to make target '/usr/lib/libboost_filesystem-mt.

[2019-08-27 13:44] flabrosse commented on #733
Anybody found a solution to that?  Hitting the same ignition-math problem...

[2019-08-27 15:03] flabrosse commented on #834
Brute force approach: I unmerged everything (ros), did an "emerge -c" and reemerged ros-desktop and that seems to have "fixed" it.
Obviously that does not say which package needed a re-install...

[2019-10-03 20:44] acidtonic opened #865 "Gentoo Repository Broken"
Tried just about everything with regards to syncing and playing with use flags.
[code]

[2019-10-07 09:47] flabrosse commented on #865
Is that why some packages are missing, such as ros-lunar/laser_filters or ros-lunar/rospack?

[2019-10-07 14:28] allenh1 commented on #865
@flabrosse those are missing because `ros-lunar` is now EOL.

It is preserved by a tag, however. You can checkout `lunar_eol` to grab those ebuilds.

[2019-10-07 14:30] allenh1 commented on #865
@acidtonic I'll try and figure out what's going on with that.

[2019-10-07 14:33] flabrosse commented on #865
That is interesting.  I had not realised.  In fact, when I checked laser_filters, to check it was still supported in lunar, lunar does not appear as one of the eol's.  I guess time to move on...

[2019-10-07 14:36] allenh1 commented on #865
Yeah, it's not always entirely clear. [This listing](http://wiki.ros.org/Distributions) is usually quite reliable, for future reference.

[2019-10-07 14:49] acidtonic commented on #865
I'm here and working on this now if you need me to test any changes.

[2019-10-10 13:36] flabrosse opened #868 "rospack-2.5.4-r1 wants dev-python/rosdep and dev-util/rosdep"
rospack-2.5.4-r1 wants both dev-python/resdep and dev-util/rosdep.  And the latter has collisions with the former, obviously.

[2019-10-10 17:27] #834 closed

[2019-10-10 18:30] flabrosse commented on #809
This seems to have been fixed, but has not made its way to the stable version:

[Switch to yaml.safe_load(_all) to prevent YAMLLoadWarning (#1688)](https://github.com/ros/ros_comm/commit/29053c4832229efa7160fb944c05e3bc82e11540)

[2019-10-11 08:05] flabrosse opened #869 "catkin-0.7.19-r1 does not emerge"
This is due to two reasons.

Reason one is that the cd in the src_prepare() in the ebuild file is wrong.

`cd ${P}`

needs to be

`cd ${WORKDIR}/${P}`

Reason two is that the patch does not work:

`Hunk #1 FAILED at 52.`

I have not explored that one yet.

[2019-10-25 10:56] flabrosse commented on #868
Removing dev-util/rosdep from the dependencies in the ebuild seems to work fine.

[2019-10-25 14:19] allenh1 commented on #868
@flabrosse would you mind submitting a PR with that change?

[2019-10-25 14:41] flabrosse commented on #868
Have never done that so looking into it.  It seems that I either have to be able to create a new branch (which I don't think I have the permission to do) or to create a fork (which seems a bit overkill).  Suggestions?

[2019-10-25 14:44] flabrosse commented on #868
I think it's created (fork seemed to be a lot less involved than expected).

[2019-10-28 14:56] flabrosse commented on #868
Now fixed.

[2019-10-28 14:56] #868 closed

[2019-10-29 10:56] flabrosse commented on #869
Just submitted a PR.

[2019-11-06 14:55] MagmaiKH commented on #809
You can just edit the two or three python files that call it and change it to unsafe_load()
Make a patch file if you want it to stick.

[2019-11-06 14:59] MagmaiKH opened #886 "ebuild for missing sdformat"
# Copyright 1999-2019 Gentoo Authors
# Distributed under the terms of the GNU General Public License v2

EAPI=5

inherit cmake-utils

DESCRIPTION="Simulation Description Format (SDF) parser"
HOMEPAGE="http://sdformat.org/"
SRC_URI="http://osrf-distributions.s3.amazonaws.com/sdformat/releases/${P}.tar.bz2"

LICENSE="Apache-2.0"
# subslot = libsdformat major
SLOT="0/6"
KEYWORDS="~amd64"
IUSE=""

RDE

[2019-11-06 15:04] MagmaiKH opened #887 "ebuild for missing ros-melodic/urdfdom_py"
[urdfdom_py-0.4.1.ebuild](https://github.com/ros/ros-overlay/files/3815118/urdfdom_py-0.4.1.ebuild.txt)

[2019-11-06 15:05] MagmaiKH opened #888 "ebuild for missing ros-melodic/autoware_msg"
[autoware_msgs-1.12.0.ebuild](https://github.com/ros/ros-overlay/files/3815123/autoware_msgs-1.12.0.ebuild.txt)

[2019-11-06 15:07] MagmaiKH commented on #733
I just got ros-melodic working. I posted the missing ebuilds in issues.
I had to hack the catkin ebuild as well but I think that's fixed now.

[2019-11-06 15:16] allenh1 commented on #888
@MagmaiKH This is because the `rosdistro` tool does not support non-github repositories.

[code]

This ebuild (and others) will be generated automatically once ros-infrastructure/rosdistro#101 is fixed.

[2019-11-06 15:20] allenh1 commented on #887
@MagmaiKH this will be fixed if an ebuild for lxml is added for gentoo [here](https://github.com/ros/rosdistro/blob/f1a449d248b675ac59dcab76f1e79f40d564393a/rosdep/python.yaml#L5126-L5132).

If you just add `gentoo: [dev-python/lxml]` and submit a pull request, this can be fixed pretty quickly.

[2019-11-08 15:34] MagmaiKH opened #892 "ros-melodic/liborocos-kdl installs into /opt/ros/melodic/lib64 not lib"
Moving files into ../lib works-around issue.

/opt/ros/melodic/lib/liborocos-kdl.so -> liborocos-kdl.so.1.4
/opt/ros/melodic/lib/liborocos-kdl.so.1.4 -> liborocos-kdl.so.1.4.0
/opt/ros/melodic/lib/liborocos-kdl.so.1.4.0

[2019-11-08 20:10] MagmaiKH opened #894 "ros-melodic/jsk_rviz_plugins depends on missing ebuild ros-melodic/jsk_recognition_utils"
If you can point me in the direct of what is missing / needs to be fixed I can look into it.
I don't quite understand how the jsk project is organized and it seems like parts of it were broken apart.

[2019-11-08 21:34] allenh1 commented on #894
@MagmaiKH the ebuilds are generated automatically by [superflore](https://github.com/ros-infrastructure/superflore).

You can try and generate your specific package and see why it failed (usually it's the result of a dependency not getting resolved).

[2019-11-11 19:26] allenh1 commented on #892
I would not suggest doing that... That will confuse portage's tracking of the files, and is generally not a good approach. A better hack fix is to use symlinks instead.

@MagmaiKH What exactly is the issue you're referring to? Is a different package broken?

[2019-11-22 16:22] flabrosse commented on #892
Similar issue with eigenpy that installs its pkg-config file in lib64:

```/opt/ros/melodic/lib64/pkgconfig/eigenpy.pc```

This means that pkg-config does not find it without also including the lib64 version of the path in the PKG_CONFIG_PATH environment variable.  This needs to be added to /opt/ros/melodic/_setup_util.py (and the other versions of ROS I guess).

[2019-11-26 21:39] negril commented on #892
Shouldn't all 64 bit libs be in /opt/ros/melodic/lib64? Analogous to /lib64 and /usr/lib64 etc?

[2019-11-27 09:12] flabrosse commented on #892
I don't disagree, but the PKG_CONFIG_PATH needs to reflect that.  At the moment it doesn't.

[2019-12-03 16:12] allenh1 commented on #892
Yep, that would do it. Usually I handle such a thing by adding a patch to `catkin` (I think? I think it's catkin).

[2019-12-04 03:54] awesomebytes opened #912 "ros-kinetic/roscpp-1.12.14 not emerging with boost 1.71.0 in Gentoo (Prefix)"
In order to avoid downgrading boost in Gentoo (Prefix) as it's pulling 1.71.0 now (and 1.68 is not available anymore as was workaround before) I found that roscpp fails with:

[code]
I made a simple patch that just removes from the CMakeLists.txt the requirement of signals:

https://gist.github.com/awesomebytes/65580b4f485ecfb8e6cc043de84a34a3

I did this as I've read in the internet that signals

[2019-12-04 05:03] awesomebytes commented on #912
ros-kinetic/message_filters has the exact same issue. Same patch:

https://gist.github.com/awesomebytes/35c60347a1a9c2631517e4eaaf401f8a

[2019-12-04 10:42] awesomebytes opened #913 "ros-kinetic/orocos_kdl doesn't emerge: Failed patch"
I just got:

[code]

To fix it, I simply removed the patch file: https://github.com/ros/ros-overlay/blob/master/ros-kinetic/orocos_kdl/files/kdl_config_cmake.patch

And it builds correctly.

[2019-12-04 10:45] awesomebytes commented on #913
I just saw: https://github.com/ros/ros-overlay/issues/892

I don't know if with removing the patch the package will actually work... but it did emerge.

[2019-12-04 11:19] awesomebytes commented on #912
Same with ros-kinetic/tf2, same patch:

https://gist.github.com/awesomebytes/a854d9d86fbed9df451bea7783a63642

[2019-12-04 12:13] awesomebytes commented on #912
ros-kinetic/actionlib has a different problem, but also coming from boost 1.71.0:

Cause it doesn't find a known conversion for the milliseconds method. (Sorry I just lost the output to copy paste it).

The patch for it:
https://gist.github.com/awesomebytes/e4c45a6532ff5b752f2c29615a2fd1a6

It needs to be fixed in all those places or other packages that depend on actionlib fail to build later on (

[2019-12-04 12:16] awesomebytes commented on #912
Same with ros-kinetic/tf (not finding signals)

Patch:
https://gist.github.com/awesomebytes/91771be9d47bd76f134fdb1180419797

[2019-12-04 12:31] awesomebytes commented on #912
Same for ros-kinetic/rviz (not finding signals)

Patch:
https://gist.github.com/awesomebytes/ed60cca5525be2945a62422289213e79